
.rodape {
    background: rgb(0, 0, 0);
    padding: 10px 0;
}



.logo-app{
    width: 150px;
    margin-top: 10px;
}

.rede-social{
    width: 50px;
    padding: 10px;
}

.siga{
    margin-left: 10px;
}
