
.rodape {
    background: rgb(0, 0, 0);
    padding: 10px 0;
}



.logo-app{
    width: 180px;
    margin-top: 10px;
}

.rede-social{
    width: 20%;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

