<footer class="mt-2 rodape">

  <div class="container justify-content-center">

    <div class="row col-12 mx-auto justify-content-center">

      <!-- INICIO CATEGORIAS -->
      <div class="col-6 col-sm-2 mt-4">
        <div class="row col-6">
          <p class="texto branco upper small">categorias</p>
        </div>
        <div class="row col-3 col-sm-2">

          <ul class="list-unstyled">
            <li>
              <a class="texto branco small" [routerLink]="['/']">Novidades </a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/feminino']">Feminino</a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/masculino']">Masculino</a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/calcados']">Calçados</a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/fitness']">Fitness</a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/teen']">Teen</a>
            </li>
            <li>
              <a class="texto branco small" [routerLink]="[ '/infantil']">Infantil</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- FIM CATEGORIAS -->

      <!-- INICIO INFORMAÇÕES -->
      <div class="col-6 col-sm-3 mt-4">

          <div class="">
            <p class="texto branco upper small">informações</p>
          </div>
          <div class="">
  
            <ul class="list-unstyled">
              <li>
                <a class="texto branco small" [routerLink]="['/termos-de-uso']">Termos de uso </a>
              </li>
              <li>
                <a class="texto branco small" [routerLink]="[ '/politicas-de-privacidade']"> Política de Privacidade</a>
              </li>
              <li>
                <a class="texto branco small" [routerLink]="[ '/politicas-de-devolucao']"> Política de Devolução</a>
              </li>
              
            </ul>
  
          </div>
  
  
        </div>
      <!-- FIM INFORMAÇÕES -->

      <!-- INICIO BAIXE O APP -->
      <div class="col-6 col-sm-3 mt-4">

          <div class="">
            <p class="texto branco upper small">BAIXE O APP</p>
          </div>
  
          <div class=" ">
              <a href="/" target="_blank"><img class="img-fluid logo-app" src="./assets/rodape/googleplay-logo.png" /></a>
              <br>        
              <a href="/" target="_blank"><img class="img-fluid logo-app" src="./assets/rodape/appstore-logo.png" /></a>         
          </div>
  
          
  
  
        </div>
      
      <!-- FIM BAIXE O APP -->

      <!-- INICIO SIGA-NOS -->
      <div class="col-6 col-sm-2 mt-4">

          <div class="">
            <p class="texto branco upper siga small">SIGA-NOS</p>
          </div> 
           
          <div class="">
              
                    <a href="https://www.facebook.com/gobagbrasil" target="_blank"><img class="img-fluid rede-social"
                        src="./assets/rodape/facebook-logo-rodape.png" /></a>
                        
                    <a href="https://www.instagram.com/gobagbrasil" target="_blank"><img class="img-fluid rede-social"
                        src="./assets/rodape/instagram-logo-rodape.png" /></a>
                        <br> 
                    <a href="https://twitter.com/gobagbrasil" target="_blank"><img class="img-fluid rede-social"
                        src="./assets/rodape/twitter-logo-rodape.png" /></a>
                        
                    <a href="https://br.pinterest.com/gobagbrasil/" target="_blank"><img class="img-fluid rede-social"
                        src="./assets/rodape/pinterest-logo-rodape.png" /></a>
                  
          </div>
  
  
        </div>
      
      <!-- FIM SIGA-NOS -->

    </div>


    <div class="row col-12 mx-auto justify-content-center text-center mt-4">
       
            <span class="texto small cinza text-center">
              Fone: 4020.9500 | atendimento@gobagbrasil.com.br | CNPJ: 34.262.627/0001-32  | Gobag, Inc.
            </span>
          
     
    </div>

  </div>

</footer>

<!-- 
    <div class="row d-flex justify-content-center">

      Categorias
      <div class="col-3 texto ">
        <span class="subtitulo branco">Categorias</span>

        <ul class="mt-2 list-unstyled texto branco">
          <li>
            <a class="texto branco" [routerLink]="['/']">Novidades </a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/feminino']">Feminino</a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/masculino']">Masculino</a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/calcados']">Calçados</a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/fitness']">Fitness</a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/teen']">Teen</a>
          </li>
          <li>
            <a class="texto branco" [routerLink]="[ '/infantil']">Infantil</a>
          </li>
        </ul>
      </div>

      Informações
      <div class="col-4 link2 ">
        <span class="subtitulo branco">Informações</span>

        <ul class="mt-2 list-unstyled">
          <li>
            <a class="texto branco" [routerLink]="['/termos-de-uso']">Termos de uso </a>
          </li>
          <li class="mt-1">
            <a class="texto branco" [routerLink]="[ '/politicas-de-privacidade']"> Política de Privacidade</a>
          </li>
          <li class="mt-1">
            <a class="texto branco" [routerLink]="[ '/politicas-de-devolucao']"> Política de Devolução</a>
          </li>
          <li class="mt-4">
            <span class="texto cinza"> Fone: 4020.9500</span>
          </li>
          <li>
            <span class="texto cinza"> E-mail: atendimento@gobagbrasil.com.br</span>
          </li>
          <li>
            <span class="texto cinza"> Gobag, Inc.&nbsp; CNPJ: 34.262.627/0001-32</span>
          </li>
        </ul>
      </div>


      Contato 
      <div class="col-4 link2 ">
        <span class="topic">Ganhe R$20,00 na primeira compra!</span>
        <ul class="mt-2 list-unstyled">
          <li>

            <span class="link">Digite seu e-mail abaixo e em seguida enviaremos seu desconto!</span>
          </li>
          <li>
            <input type="text" class="form-control mt-1" id="inputEmail" placeholder="Digite seu e-mail" formControlName="e-mail">

          </li>

          <li class="mt-4">            
            <span class="link2"> E-mail: gobagbrasil@gmail.com</span>
          </li>
          <li>
            <span class="link2"> Gobag, Inc.&nbsp; CNPJ: 34.262.627/0001-32</span>
          </li>
        </ul>


      </div>

      Mídia
      <div class="col-3 link2">
        <span class="subtitulo branco">Baixe nosso app</span>

        <ul class="mt-2 list-unstyled ">
          <li class="logo-app">
            <a href="/" target="_blank"><img class="img-fluid" src="./assets/rodape/googleplay-logo.png" /></a>
          </li>
          <li class="logo-app">
            <a href="/" target="_blank"><img class="img-fluid" src="./assets/rodape/appstore-logo.png" /></a>
          </li>

          <li>
            <ul class="list-inline">
              <li class="list-inline-item rede-social">
                <a href="https://www.facebook.com/gobagbrasil" target="_blank"><img class="img-fluid "
                    src="./assets/rodape/facebook-logo-rodape.png" /></a>
              </li>
              <li class="list-inline-item rede-social">
                <a href="https://www.instagram.com/gobagbrasil" target="_blank"><img class="img-fluid"
                    src="./assets/rodape/instagram-logo-rodape.png" /></a>
              </li>
              <li class="list-inline-item rede-social">
                <a href="https://twitter.com/gobagbrasil" target="_blank"><img class="img-fluid "
                    src="./assets/rodape/twitter-logo-rodape.png" /></a>
              </li>
              <li class="list-inline-item rede-social">
                <a href="https://br.pinterest.com/gobagbrasil/" target="_blank"><img class="img-fluid "
                    src="./assets/rodape/pinterest-logo-rodape.png" /></a>
              </li>

            </ul>
          </li>

        </ul>
      </div>
    </div> -->