<footer class="mt-2 rodape">

  <div class="container">

    <div class="row d-flex justify-content-center">

      <!-- Categorias -->
      <div class="col-3 link2">
        <span class="topic">Categorias</span>

        <ul class="mt-2 list-unstyled">
          <li>
            <a class="link" [routerLink]="['/']">Novidades </a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/feminino']">Feminino</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/masculino']">Masculino</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/calcados']">Calçados</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/fitness']">Fitness</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/teen']">Teen</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/infantil']">Infantil</a>
          </li>
        </ul>
      </div>

      <!-- Informações -->
      <div class="col-4 link2">
        <span class="topic">Informações</span>

        <ul class="mt-2 list-unstyled" >
          <li>
            <a class="link" [routerLink]="['/termos-de-uso']">Termos de uso </a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/politicas-de-privacidade']"> Política de Privacidade</a>
          </li>
          <li>
            <a class="link" [routerLink]="[ '/politicas-de-devolucao']"> Política de Devolução</a>
          </li>


          <li class="mt-4">
              <span class="link2"> 4020.9500</span>
          </li>
          <li>
              <span class="link2"> E-mail: gobagbrasil@gmail.com</span>
          </li>
          <li>
              <span class="link2"> Gobag, Inc.&nbsp; CNPJ: 34.262.627/0001-32</span>
          </li>
        </ul>


      </div>

      <!-- Mídia -->
      <div class="ml-4 col-4 link2">
        <span class="topic">Mídia</span>
        
        <ul class="mt-2 list-unstyled ">
          <li class="logo-app">
            <a href="/" target="_blank"><img class="img-fluid" src="./assets/rodape/googleplay-logo.png" /></a>
          </li>
          <li class="logo-app">
            <a href="/" target="_blank"><img class="img-fluid" src="./assets/rodape/appstore-logo.png" /></a>
          </li>

          <li>
            <ul class="list-inline">
              <li class="list-inline-item rede-social">
                <a href="https://www.facebook.com/gobagbrasil" target="_blank"><img class="img-fluid " src="./assets/rodape/facebook-logo-rodape.png" /></a>
              </li>
              <li class="list-inline-item rede-social">
                <a href="https://www.instagram.com/gobagbrasil" target="_blank"><img class="img-fluid" src="./assets/rodape/instagram-logo-rodape.png" /></a>
              </li>             
              <li class="list-inline-item rede-social">
                <a href="https://twitter.com/gobagbrasil" target="_blank"><img class="img-fluid " src="./assets/rodape/twitter-logo-rodape.png" /></a>
              </li>
              <li class="list-inline-item rede-social">
                <a href="https://br.pinterest.com/gobagbrasil/" target="_blank"><img class="img-fluid " src="./assets/rodape/pinterest-logo-rodape.png" /></a>
              </li>

            </ul>
          </li>

        </ul>
      </div>

    </div>
  </div>

</footer>      
