.fotos{
    width: 200px;
}
.instrucoes{
    margin-bottom: 50px;
}
 .instrucoes_item {
    border-radius: 10px;
    height: 20%;
    display: flex;
    align-items: center;
} 

 .instrucoes_item:hover {
    border-color: #000;
} 

.instrucoes_link {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    border-radius: 8px;
}

.instrucoes_link img{
    border-radius: 8px;
}

