<div class="container row">
  <h3 class="col-12 ml-4 mb-3">BAG</h3>
  <div class="itensCarrinho col-12 tendencia" *ngIf="carrinho; else loading">
    <item-carrinho-compra [carrinho]="carrinho"></item-carrinho-compra>
  </div>
  <div class="col-12">
    <hr> 
    <div class="row ml-4 mb-3 mt-3">
      <div class="endereco col-12 mb-2">ENDEREÇO DE ENTREGA: </div>
      <div class="endereco2 col-12" *ngIf="usuario != null">
        <em>{{usuario.endereco.toUpperCase()}}, {{usuario.numero}} </em>
        <em *ngIf="usuario.bairro"> - {{usuario.bairro.toUpperCase()}} </em>
        <em>{{usuario.complemento.toUpperCase()}} </em>
      </div>
    </div>

    <hr>
    <div class="pagamento ml-4 mb-3 mt-5"><strong>PAGAMENTO</strong></div>

    <form (submit)="confirmarCompra()" [formGroup]="dados_pagamento">

      <div class="form-group inputs">
        <input formControlName="card_number" type="text" class="form-control mb-3" placeholder="Número do cartão">
        <input formControlName="card_holder_name" type="text" class="form-control mb-3" placeholder="Nome e sobrenome">
        <div class="d-flex mb-3">
          <input formControlName="card_expiration_date" type="text" class="form-control mr-3"
            placeholder="Data de vencimento">
          <input formControlName="card_cvv" type="text" class="form-control" placeholder="Código de segurança">
        </div>
        <input formControlName="card_cpf" type="text" class="form-control mb-3" placeholder="CPF do titular do cartão">
      </div>

    </form>


  </div>
  <div class="row col-md-12 text-center mt-5 mb-5">
    <div class="col-12 col-sm-12 col-md-4 voltar">
      <button class="btn_cancelar" (click)="cancelarCarrinho()">CANCELAR</button>
    </div>
    <div class="col-12 col-sm-12 col-md-4 total ">
      <p>
        <span>TOTAL&nbsp;&nbsp;</span>
        <span *ngIf="carrinho; else valornulo"> {{ carrinho.valor_total | currency: 'BRL': 'symbol' }}</span><br>
        <!-- <span class="envio">ENVIO&nbsp;&nbsp;</span> -->
        <!-- <span *ngIf="carrinho; else valornulo"> {{ 0 | currency: 'BRL': 'symbol' }}</span> -->
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-4 continuar"><button class="btn_confirmar"
        (click)="confirmarCompra()">CONFIRMAR</button></div>
  </div>
</div>

<ng-template #loading>
  <h5>CARRINHO VAZIO...</h5>
</ng-template>
<ng-template #valornulo>{{ 0 | currency: 'BRL': 'symbol'}}</ng-template>