
<div class="div_container row">
 
  <h3 class="rev_pedido col-12">REVISÃO DO PEDIDO</h3>
  <div class="itensCarrinho col-12  tendencia" *ngIf="carrinho; else loading">
    <app-carousel-ordem-compra [carrinho]="carrinho"></app-carousel-ordem-compra>
  </div>
  <div class="meio col-12">
    <div class="endereco row">
        <h4>Endereço de entrega: </h4> <span *ngIf="usuario != null">{{usuario.endereco}}, {{usuario.numero}} </span>
    </div>

  
      
      <span>Dados do Cartão</span>

      <form (submit)="salvarDadosCartao()" [formGroup] = "formularioCartao" >
        <div class="form-group col">
          <input formControlName="card_number" type="text" class="form-control" placeholder="card_number">
          <br>
          <input formControlName="card_holder_name" type="text" class="form-control" placeholder="card_holder_name">
          <br>
          <input formControlName="card_expiration_date" type="text" class="form-control" placeholder="card_expiration_date">
          <br>
          <input formControlName="card_cvv" type="text" class="form-control" placeholder="card_cvv">
          
        </div>
  
      </form>


  </div>
  <div class="bottom row col-sm-12 text-center">
    <div class="col-12 col-sm-12 col-md-4 voltar"> 
      <button class="btn_cancelar" (click)="cancelarCarrinho()">CANCELAR</button>
    </div>
    <div class="col-12 col-sm-12 col-md-4 total ">
      <p>
        <span>TOTAL&nbsp;&nbsp;</span>
        <span *ngIf="carrinho; else valornulo"> {{ carrinho.valor_total | currency: 'BRL': 'symbol' }}</span><br>
        <span class="envio">ENVIO&nbsp;&nbsp;</span>
        <span *ngIf="carrinho; else valornulo"> {{ 0 | currency: 'BRL': 'symbol' }}</span>
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-4 continuar"><button class="btn_confirmar" (click)="salvarDadosCartao()">CONFIRMAR</button></div>
  </div>
</div>

<ng-template #loading><p>Carrinho Vazio</p></ng-template>
<ng-template #valornulo>{{ 0 | currency: 'BRL': 'symbol'}}</ng-template>
