<div class="container">

  <form class="row" (submit)="cadastrarUsuario()" [formGroup]="formulario">
    <div class="col-sm-12 topo">
      <h3 class="titulo preto">CRIE SUA CONTA GOBAG</h3>
      <h5 class="titulo cinza">NOVO POR AQUI?</h5>
      <h6 class="texto preto">Precisamos de mais algumas informações para criar sua conta GOBAG:</h6>
    </div>

    <div class="col-12">
      <!-- <div class="col-6 inputs"> -->
        <div class="form-row">
          <div class="form-group col-sm-6">
            <div class="input-group">
              <input formControlName="nome" type="text" class="form-control" placeholder="NOME"
                [ngClass]="aplicaCssErro('nome')">
              <div *ngIf="this.formulario.get('nome').invalid && this.formulario.get('nome').touched"
                class="invalid-feedback">
                campo inválido
              </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group">
              <input formControlName="sobrenome" type="text" class="form-control" placeholder="SOBRENOME"  [ngClass]="aplicaCssErro('sobrenome')">
              <div *ngIf="this.formulario.get('sobrenome').invalid && this.formulario.get('sobrenome').touched"
                class="invalid-feedback">
                campo inválido
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <div class="input-group">
                <input formControlName="nascimento" #nascimento (keyup)="updateFieldValue('nascimento', nascimento.value)" type="text" [brmasker]="{mask:'00/00/0000', len:10, type: 'num'}" class="form-control" placeholder="NASCIMENTO" [ngClass]="aplicaCssErro('nascimento')">
                <div *ngIf="this.formulario.get('nascimento').invalid && this.formulario.get('nascimento').touched"
                  class="invalid-feedback">
                  campo inválido
                </div>
              </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group">
                <input formControlName="celular" name="phone" [brmasker]="{phone: true}"  #celular (keyup)="updateFieldValue('celular', celular.value)"   class="form-control" placeholder="CELULAR" [ngClass]="aplicaCssErro('celular')">
                <div *ngIf="this.formulario.get('celular').invalid && this.formulario.get('celular').touched"
                  class="invalid-feedback">
                  telefone inválido
                </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <input class="email" formControlName="email" type="text" class="form-control" placeholder="EMAIL" [ngClass]="aplicaCssErro('email')">
              <div *ngIf="this.formulario.get('email').invalid && this.formulario.get('email').touched"
                class="invalid-feedback">
                email inválido
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <input id='cep'  #inputCep (keyup)="buscarCep(inputCep.value)" [brmasker]="{mask:'00.000-000', len:10, type: 'num'}" formControlName="cep"  type="text" class="form-control" placeholder="CEP" [ngClass]="aplicaCssErro('cep')">
              <div *ngIf="this.formulario.get('cep').invalid && this.formulario.get('cep').touched"
                class="invalid-feedback">
                cep inválido
              </div>
          </div>
        </div>
        <div class="form-row ">
          <div class="form-group col-12">
            <div class="input-group">
              <input type="text" formControlName="endereco" class="form-control" [ngClass]="aplicaCssErro('endereco')"
                placeholder="ENDERECO">
              <div *ngIf="this.formulario.get('endereco').invalid && this.formulario.get('endereco').touched"
                class="invalid-feedback">
                O campo ENDEREÇO deve conter no mínimo 3 digitos
              </div>
            </div>
          </div>
          <div class="form-group col-12">
            <div class="input-group">
              <input type="text" formControlName="numero" class="form-control" [ngClass]="aplicaCssErro('numero')"
                placeholder="NUMERO">
              <div *ngIf="this.formulario.get('numero').invalid && this.formulario.get('numero').touched"
                class="invalid-feedback">
                O campo NÚMERO deve conter no mínimo 1 digitos
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input formControlName="complemento" type="text" class="form-control" placeholder="COMPLEMENTO">
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <div class="input-group">
                <input formControlName="bairro" type="text" class="form-control" placeholder="BAIRRO" [ngClass]="aplicaCssErro('bairro')">
                <div *ngIf="this.formulario.get('bairro').invalid && this.formulario.get('bairro').touched"
                  class="invalid-feedback">
                  campo inválido
                </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group">
                <input formControlName="cidade" type="text" class="form-control" placeholder="CIDADE" [ngClass]="aplicaCssErro('cidade')">
                <div *ngIf="this.formulario.get('cidade').invalid && this.formulario.get('cidade').touched"
                  class="invalid-feedback">
                  campo inválido
                </div>
            </div>
          </div>
          <div class="form-group col-sm-6">
            <div class="input-group">
                <input formControlName="estado" type="text" class="form-control" placeholder="ESTADO" [ngClass]="aplicaCssErro('estado')">
                <div *ngIf="this.formulario.get('estado').invalid && this.formulario.get('estado').touched"
                  class="invalid-feedback">
                  campo inválido
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
              <input formControlName="senha" type="password" class="form-control" placeholder="SENHA" [ngClass]="aplicaCssErro('senha')">
              <div *ngIf="this.formulario.get('senha').invalid && this.formulario.get('senha').touched"
                class="invalid-feedback">
                A senha deve conter no mínino 6 caracteres
              </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
              <input formControlName="confirmSenha" type="password" class="form-control" placeholder="CONFIRMAR SENHA" [ngClass]="aplicaCssErro('confirmSenha')">
              <div *ngIf="this.formulario.get('confirmSenha').invalid && this.formulario.get('confirmSenha').touched"
                class="invalid-feedback">
                senha não confere
              </div>
          </div>
        </div>
      </div>

    <!--</div>-->

    <div class="col-12 text-center mt-4 mb-4">
      <p class="small text-danger text-center">{{mensagemErroCad}}</p>
      <button type="submit" [disabled]="this.formulario.invalid"
        class="btn btn_salvar mb-2">ENVIAR</button><br>
        <!-- <div class="btn btn-primary" (click)="console(this.formulario)"></div> -->
        <p>
      <span class="texto preto">JÁ POSSUI CONTA?</span> <span class="hover titulo preto" (click)="exibirPainelLogin()"> FAÇA LOGIN</span>
    </p>
    </div>
  </form>

</div>