<div class="container div">
  Gobag, Inc.
  <h3 class="mb-4">Aviso de Privacidade e Políticas de uso das Informação utilizadas pela Gobag</h3>
  <p>
    Este documento, denominado Política de Privacidade, possui finalidade de estabelecer as regras sobre o uso,
    armazenamento e tratamento dos dados e informações coletadas dos USUÁRIOS na PLATAFORMA GOBAG.
    Responsável pelas Informações dos USUÁRIOS: GOBAG INTERMEDIAÇÃO DE NEGOCIOS LTDA., registrada sob o CNPJ
    34.262.627/0001-32.
  </p>
  <h6>1.Definições importantes:</h6>
  <p>
    BANCO DE DADOS: Conjunto estruturado de dados pessoais ou anônimizados, localizado em um ou em vários locais, em
    suporte
    eletrônico ou físico;
  </p>
  <p>
    CONSENTIMENTO: É a manifestação livre, informada e inequívoca pela qual o USUÁRIO concorda com a utilização dos seus
    dados pessoais ou anônimizados.
  </p>
  <p>
    CONTEÚDO: Qualquer informação, dados, comunicações, software, fotos, vídeos, gráficos, música, sons e outros
    materiais
    e
    serviços que podem ser visualizados pelos USUÁRIOS na PLATAFORMA. Isso inclui mensagens, conversas, bate-papo e
    outros
    conteúdos originais.
  </p>
  <p>
    COOKIES: Arquivos enviados pelo servidor da PLATAFORMA para o computador do USUÁRIO, com a finalidade de identificar
    o
    computador e obter dados de acesso, como páginas navegadas ou links clicados, permitindo, desta forma, personalizar
    a
    utilização da PLATAFORMA, de acordo com o seu perfil. Também podem ser utilizados para garantir uma maior segurança
    dos
    USUÁRIOS da PLATAFORMA.
  </p>
  <p>
    DADOS PESSOAIS: todos os dados relacionados à pessoa natural (identificada ou identificável), não-públicos,
    relativos
    à
    identidade e à vida privada de seu USUÁRIO.
  </p>
  <p>
    DADOS PESSOAIS ANÔNIMIZADOS ou ANÔNIMIZADOS: dados relativos a um USUÁRIO que não possa ser identificado.
    IP (Internet Protocol): É um conjunto de números que identifica o computador do USUÁRIO na Internet.
  </p>
  <p>
    JANELAS (Pop-Ups): Janela ou aviso da internet que emerge automaticamente em qualquer momento quando a PLATAFORMA é
    utilizada, inclusive na formalização dos Termos e Condições do Uso da Plataforma e na Política de Privacidade.
  </p>
  <p>
    LOGS: registros de atividades do USUÁRIO efetuadas na PLATAFORMA.
  </p>
  <p>
    GOBAG: é a empresa proprietária e possuidora de todos os direitos autorais referente a Plataforma de Internet
    denominada GOBAG.
  </p>
  <p>
    MENSAGENS DE DADOS: A informação gerada, enviada, recebida, armazenada ou comunicada por meios eletrônicos, óticos
    ou
    similares. Exemplificando: os formulários de cadastramento, o Intercâmbio Eletrônico de Dados (EDI – Electronic Data
    Interchange), Internet, o correio eletrônico, chats entre outros meios de comunicação.
  </p>
  <p>
    PLATAFORMA GOBAG: aplicativo web e móvel administrado e com os direitos exclusivos de utilização no Brasil pela
    GOBAG,
    através do qual: i) são exibidos diferentes produtos de consumo de forma publicitária (dos Prestadores de Serviço)
    para
    que possam servir de referência ao Consumidor; ii) facilita a aproximação entre os Consumidores e os Prestadores de
    Serviço; iii) serve como meio de envio de comunicações entre o Consumidor e a GOBAG e iv) pode receber os pagamentos
    das
    compras diretamente do consumidor (por conta e ordem de terceiros), com repasse do dinheiro ao Prestador de Serviço.
    A
    GOBAG não realiza a compra de produtos por conta própria, não armazena produtos e tampouco é vendedora de produtos.
    É
    uma plataforma de tecnologia somente para intermediação da Venda, cobrando pelos serviços realizados. Também
    denominada
    neste Instrumento como “PLATAFORMA”, podendo ser acessada por computadores, notebooks, smartphones ou tablets.
  </p>
  <p>
    SERVIÇO ou SERVIÇOS: Serviços oferecidos por meio da PLATAFORMA.
  </p>
  <p>
    SESSION ID: identificação da sessão do USUÁRIO no processo de inscrição ou quando utilizado de alguma forma na
    PLATAFORMA.
  </p>
  <p>
    TERMOS E CONDIÇÕES DE USO DA PLATAFORMA ou TERMOS DE USO: Constituem os termos legais que regulamentam a relação
    entre
    a GOBAG e os USUÁRIOS.
  </p>
  <p>
    USUÁRIO: é a pessoa natural usuária da Plataforma GOBAG, identificada neste Instrumento como USUÁRIO.
  </p>
  <p>
    USUÁRIO DA PLATAFORMA GOBAG: são as pessoas físicas cadastradas na Plataforma de Internet denominada GOBAG também
    denominados “USUÁRIO” ou “USUÁRIOS”. A GOBAG e o USUÁRIO poderão ser mencionados individualmente neste Instrumento
    como “Parte” ou em conjunto como “Partes”.
  </p>
  <h6>2.Obtenção dos dados e informações:</h6>
  <p>
    Os dados e informações (sejam eles PESSOAIS ou ANÔNIMIZADOS) serão obtidos quando o USUÁRIO: (a) Passar a utilizar
    os
    SERVIÇOS da PLATAFORMA; (b) Interagir com as diversas ferramentas existentes na PLATAFORMA, fornecendo as
    informações
    voluntariamente ou involuntariamente (no caso de obtenção de informações sobre a frequência de utilização da
    PLATAFORMA ou os tipos de informações envolvidas; ou (c) Entrar em contato por meio dos canais de comunicação
    disponíveis na
    PLATAFORMA.
  </p>
  <h6>3.Armazenamento dos Dados e Informações:</h6>
  <p>
    Todas as MENSAGENS DE DADOS e informações coletadas dos USUÁRIOS serão incorporados ao BANCO DE DADOS da PLATAFORMA,
    sendo seu responsável e proprietário a GOBAG. Os dados e informações coletados estarão armazenados em ambiente
    seguro,
    observado o estado da técnica disponível e criptografados, e somente poderão ser acessados por pessoas qualificadas
    e
    autorizadas pela GOBAG. Considerando que nenhum sistema de segurança é absolutamente seguro, a GOBAG se exime de
    quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes de falhas, vírus ou invasões do BANCO DE
    DADOS na PLATAFORMA.
  </p>
  <h6>4.Uso dos Dados e Informações:</h6>
  <p>
    A GOBAG não aluga, não vende e não compartilha as informações pessoais com outras pessoas ou com empresas não
    afiliadas, exceto com objetivo de fornecer a USUÁRIO os produtos e serviços solicitados na plataforma, tendo obtido
    para tanto a
    sua permissão, ou em circunstâncias específicas como ordem judicial ou advindas de lei.
  </p>
  <p>
    Ademais, o USUÁRIO aceita de maneira expressa, consciente e voluntária que as suas informações consignadas nas bases
    de dados da GOBAG (pessoais ou anônimizados), sejam recompiladas, armazenadas para sua utilização nos seguintes
    termos:
    (i) Juntar ou coletar os dados pessoais e incorporá-los e armazená-los em nossa base de dados, (ii) Organizar,
    catalogar,
    classificar, dividir ou separar a informação entregue, (iii) Utilizar os dados fornecidos em campanhas de
    comunicação,
    divulgação e promoção ou oferta de produtos, atividades ou serviços desenvolvidos como parte de estratégias internas
    da GOBAG, (iv) Utilizá-los para fins administrativos internos ou comerciais tais como: estudos de crédito,
    elaboração e
    apresentação de orçamentos, referencias comerciais de experiência, estudos de mercado, análises estatísticas,
    realização de pesquisas sobre satisfação, oferecimento ou reconhecimento de benefícios próprios do programa de
    fidelidade da
    GOBAG, bem como em serviços pós venda, (v) Conservar registros históricos dentro da GOBAG e manter contato com os
    USUÁRIOS,
    (vi) Verificar, comprovar ou validar os dados entregues, (vii) Estudar e analisar a informação fornecida para o
    acompanhamento e melhoramento dos produtos e do serviço, (viii) Entregar e transmitir a informação recolhida a
    terceiros com os que a GOBAG mantenha contratos comerciais ou de armazenamento e administração dos dados pessoais,
    sob os
    padrões de segurança e confidencialidade aos quais GOBAG está obrigada de acordo com o conteúdo das leis
    pertinentes, (ix)
    Transmitir dados em nível nacional ou internacional para fornecedores com os quais a Gobag desenvolve atividades em
    conformidade com seu objeto social. Da mesma forma, uma transmissão pode ser feita para os aliados/parceiros
    estratégicos da empresa para realizar atividades de marketing, publicidade e promoções associadas ao objeto social;
    Tudo isso de acordo com as disposições da legislação brasileira. (x)Comunicar e permitir o acesso aos dados pessoais
    fornecidos a terceiros fornecedores de serviços de apoio geral e às pessoas físicas ou jurídicas pertencentes ao
    quadro societário da GOBAG, (xi) Juntar, possuir, manusear e utilizar a informação recebida pelo USUÁRIO para
    realizar a
    vinculação como contratante ou fornecedor, (xiii) Juntar, possuir, manusear e utilizar a informação para realizar
    controle e prevenção de fraude, controle e prevenção de lavagem de ativos e financiamento do terrorismo, (xiv)
    Celebração, execução e gestão das propostas de negócios e contratos objeto dos serviços prestados, (xv) realizar, em
    conformidade com a lei, os relatórios a centrais de risco por não cumprimento das obrigações financeiras derivadas
    da
    relação comercial, (xvi) Fornecer informações dos USUÁRIOS em cumprimento a ordem legal ou judicial e (xvii)
    compartilhar com terceiros dos dados dos USUÁRIOS para o fim de recebimento de promoções ou outras informações. No
    caso de e-mails encaminhandos pela GOBAG o cliente sempre terá a opção de não mais recebê-los. Os e-mails enviados
    pela
    GOBAG não contêm anexos para serem baixados e tampouco solicitam dados dos USUÁRIOS. Assim, os dados dos cartões de
    crédito
    somente serão solicitados no momento de realizar o pagamento virtual, e não serão armazenados pela GOBAG.
  </p>
  <h6>5.Do Registro de Atividades:</h6>
  <p>
    A GOBAG poderá registrar as atividades efetuadas pelo USUÁRIO na PLATAFORMA, por meio de LOGS, incluindo: (a)
    Endereço
    IP do USUÁRIO; (b) Ações efetuadas pelo USUÁRIO na PLATAFORMA; (c) Páginas acessadas pelo USUÁRIO; (d) Datas e
    horários
    de cada ação e de acesso a cada funcionalidade da PLATAFORMA; (e) SESSION ID do USUÁRIO, quando aplicável. Os
    registros
    mencionados poderão ser utilizados pela GOBAG em casos de investigação de fraudes ou de alterações indevidas em seus
    sistemas e cadastros, assim como no compartilhamento com terceiros de forma ANÔNIMIZADA.
  </p>
  <h6>6.Cookies:</h6>
  <p>
    A PLATAFORMA poderá fazer o uso de COOKIES, cabendo ao USUÁRIO configurar o seu navegador de Internet, caso deseje
    bloqueá-los. Nesta hipótese, algumas funcionalidades da PLATAFORMA poderão ser limitadas. O USUÁRIO autoriza
    expressamente, no momento da aceitação desta Política de Privacidade, o uso de COOKIES pela GOBAG em toda atividade
    de
    uso que for realizada na PLATAFORMA.
  </p>
  <h6>7.Direitos do USUÁRIO:</h6>
  <p>
    (i) Conhecer, atualizar e retificar seus dados pessoais coletados pela GOBAG. Este direito pode ser exercido entre
    outros frente a dados parciais, inexatos, incompletos, fracionados ou que induzam ao erro; (ii) Solicitar prova da
    autorização outorgada a GOBAG; (iii) Ser informado por Gobag, mediante prévia solicitação, a respeito do uso que se
    é
    dado aos dados do Usuário; (iv) Apresentar ante a as autoridades queixas por infrações ao disposto na lei; (v)
    Revogar
    a
    qualquer momento a autorização e/ou supressão do dado tendo em conta os limites legais para tanto; (vi) Ter acesso
    de
    forma gratuita aos dados cadastrais do USUÁRIO contidos na base de dados da GOBAG.
  </p>
  <h6>8.Forma de conhecer a informação do USUÁRIO e como exercer os direitos:</h6>
  <p>
    A Gobag apresenta á escolha do Usuário as seguintes formas de exercer seus direitos de “Dados Pessoais”:
  </p>
  <div>
    Atendimento eletrônico: O Usuário do dado deverá realizar seu requerimento formal ao endereço eletrônico
    gobagbrasil@gmail.com com prévio esgotamento dos requisitos de legitimação para o exercício do Usuário, a saber:
  </div>
  <div>
    I. Ser titular da informação, provar sua identidade em forma suficiente mediante qualquer meio que Gobag destine
    para
    tanto.
  </div>
  <div>
    II. Pelos legítimos sucessores, os quais deverão provar tal qualidade.
  </div>
  <div>
    III. Pelo representante/empoderado do titular da informação, quem também deverá provar tal qualidade.
  </div>
  <div>
    IV. Por acordo em favor de outro ou por outro exercerão por conjunto das pessoas que estejam possibilitadas para
    representá-los, e igualmente se deverá provar tal qualidade.
  </div>
  <p>
    V. Os direitos dos menores de idade se exercerão pelas pessoas encarregadas de sua representação, e igualmente se
    deverá
    provar tal qualidade.
  </p>
  <p>
    Atendimento escrito: O Usuário do dado deverá realizar seu requerimento formal ao endereço: Rua Vicente Linhares
    521,
    sala 1106, Fortaleza, CE, Brasil, prévio esgotamento dos requisitos de legitimação para o exercício do Usuário,
    segundo
    o descrito de forma literal no a do presente parágrafo anterior, mediante escrito onde se especifique o endereço
    onde
    receberá notificações e respostas.
  </p>
  <p>
    Atendimento pessoal: O Usuário do dado deverá realizar seu requerimento verbal no endereço: Rua Vicente Linhares
    521,
    sala 1106, Fortaleza, CE, Brasil, prévio esgotamento dos requisitos de legitimação para o exercício do Usuário,
    segundo
    o descrito de forma literal a do presente parágrafo.
  </p>
  <h6>9.Violação da base de dados ou sistema</h6>
  <p>
    Não é permitida a utilização de nenhum dispositivo, software, ou outro recurso que venha a interferir nas atividades
    e
    operações da GOBAG, bem como nas publicações de Oferta, descrições, contas ou seus bancos de dados. Qualquer
    intromissão, tentativa de, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as
    proibições estipuladas neste instrumento, tornarão o responsável passível das ações legais pertinentes, bem como das
    sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.
  </p>
  <h6>10.Dos Disposições Gerais:</h6>
  <p>
    As disposições constantes desta Política de Privacidade poderão ser atualizadas ou modificadas a qualquer momento,
    cabendo ao USUÁRIO verificá-las sempre que efetuar o acesso à PLATAFORMA.
  </p>
  <h6>11.Lei Aplicável e Jurisdição:</h6>
  <p>
    A presente Política de Privacidade será interpretada segundo a legislação brasileira, no idioma português, sendo
    eleito
    o Foro da Comarca de Fortaleza para dirimir qualquer litígio, questão ou dúvida superveniente, com expressa renúncia
    de
    qualquer outro, por mais privilegiado que seja.
  </p>
  <h6>12. ACEITAÇÃO TOTAL DOS TERMOS</h6>
  <p>
    O USUÁRIO declara ter a capacidade legal, dando o seu CONSENTIMENTO expresso dos termos constantes desta Política de
    Privacidade, sendo que aceita a totalidade das situações reguladas neste documento.
  </p>
</div>