
.fotos{
    width: 200px;
    
}


.owl-theme .owl-dots {
    display: none!important;}
  


/* .texto1{
    color: rgb(1, 80, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto2{
    color: rgb(11, 211, 127);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto3{
    color: rgb(54, 248, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
.imagem-banner{
    width: 100%;
    align-content: center;
}

/* .row{
    margin-top:40px;
    margin-left: 5px;
} */
/* .row .col-12{

} */

/* .col_left img{
    width: 20%;
    height: 20%;
}
.col_left p{
    margin-top:20px;
    margin-left: 10px;
}
.col_left p span:first-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size:1.2em;
}
.col_left p span:last-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.col_center img{
    width: 20%;
    height: 20%;
}
.col_center p{
    margin-top:20px;
    margin-left: 10px;
}
.col_center p span:first-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size:1.2em;
}
.col_center p span:last-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
}

.col_right img{
    width: 20%;
    height: 20%;
    margin-top:15px;
}
.col_right p{
    margin-top:20px;
    margin-left: 10px;
}
.col_right p span:first-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size:1.2em;
}
.col_right p span:last-child{
    font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
} */


.banner_home-gobag{   
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 450px;
    padding-right: 450px;
}

.banner_home-entenda{    
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 250px;
    padding-right: 250px;
}
.banner_home{
    background-color: #000;
    vertical-align: middle;
    height: 300px;
}
.banner_home-box{
    height: 300px;
    
}

@media (max-width: 1699px) and (min-width: 1400px){
    .banner_home-gobag{   
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 550px;
        padding-right: 550px;
    }

    .banner_home-instrucoes{    
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 150px;
        padding-right: 150px;
    }

    .banner_home-entenda{    
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 250px;
        padding-right: 250px;
    }
    
    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 300px;
    }
    .banner_home-box{
        height: 300px;
        
    }
}

@media (max-width: 2000px) and (min-width:1700px) {
     .col_left img{
        margin-bottom:40px;
        
    }
    .col_right img{
        margin-top: 30px;
    } 
    .col_center img{
        
    } 
    .banner_home-gobag{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 600px;
        padding-right: 600px;
    }
    
    .banner_home-entenda{
        padding-top: 150px;
        padding-bottom: 150px;
        padding-left: 300px;
        padding-right: 300px;
    }
    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 400px;
    }
    .banner_home-box{
        height: 400px;
        
    }
    
}


/* 
@media (max-width: 818px) and (min-width:768px) {
   .col_center img{
       margin-bottom: 40px
   } 
}
@media (max-width: 768px) and (min-width:768px) {
    .col_center img{
        margin-bottom: 160px;
    } 
 } */


 /* IPAD PLUS*/
 @media (max-width: 1100px) and (min-width: 801px) {
    
    .banner_home-gobag{           
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 300px;
        padding-right: 300px;
    }
    
    .banner_home-entenda{              
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 250px;
    }
    .banner_home-box{
        height: 250px;
        
    }
}


/* IPAD */
 @media (max-width: 800px) and (min-width: 700px) {
    
    .banner_home-gobag{           
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .banner_home-entenda{              
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 250px;
    }
    .banner_home-box{
        height: 250px;
        
    }
}

 /* IPHONE 6/7/8 PLUS */
@media (max-width: 440px) and (min-width: 411px) {
    
    .banner_home-gobag{           
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 90px;
        padding-right: 90px;
    }
    
    .banner_home-entenda{              
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 150px;
    }
    .banner_home-box{
        height: 150px;
        
    }


    /* .col_left img{
        width: 80px;
        height: 80px;
        margin-right: 7px;
        margin-left: 20%;
    }
    
    .col_center img{
        width: 80px;
        height: 80px;
        margin-right: 7px;
        margin-left: 20%;
    }
    .col_center p{
        margin-right: 58px;
    }
    
    .col_right img{
        width: 80px;
        height: 80px;
        margin-left: 20%;
    } */
} 

/* IPHONE 6/7/8 E GALAXY S5 */
@media (max-width: 410px) and (min-width: 360px) {
    
    .banner_home-gobag{           
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .banner_home-entenda{              
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 150px;
    }
    .banner_home-box{
        height: 150px;
        
    }

    /* .col_left img{
        width: 80px;
        height: 80px;
        margin-right: 7px;
    }
    
    .col_center img{
        width: 80px;
        height: 80px;
        margin-right: 7px;
    }
    .col_center p{
        margin-right: 58px;
    }
    
    .col_right img{
        width: 80px;
        height: 80px;
    } */

} 

@media (max-width: 359px) {
    
    .banner_home-gobag{           
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .banner_home-entenda{              
        padding-top: 65px;
        padding-bottom: 65px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .banner_home{
        background-color: #000;
        vertical-align: middle;
        height: 120px;
    }
    .banner_home-box{
        height: 120px;
        
    }

    

} 

/* @media (max-width: 994px){  
    .banner_home{
        margin-top:100px;
    }
}  */



/* .col_left{
background-color:blue;

}
.col_right{
 background-color:red;
}
.col_center{
background-color: beige;
}
 */
