.texto1{
    color: rgb(1, 80, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto2{
    color: rgb(11, 211, 127);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.texto3{
    color: rgb(54, 248, 167);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}