<app-banner-slide></app-banner-slide>
<app-categorias></app-categorias>

<div class="container">

  <div class="secao">
    <h3 class="text-center">30% OFF</h3>
    <h5 class="text-center">Conheça as melhores ofertas, com os melhores descontos do mercado</h5>
  </div>

</div>

<!-- <hr /> -->
<div class="prat_prod">
  <div class="container">
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 20px;">

      <div class="col-md-3" *ngFor="let oferta of ofertas">
          <div class="prod">
            <div class="prod_title-box">
              <h4 class="prod_title">{{ oferta.titulo }}</h4>
            </div>
  
            <figure class="prod_img-box">
              <img [src]="oferta.imagens[0].url" class="img-fluid prod_img" />
              <img [src]="oferta.imagens[1].url" class="img-fluid prod_img second_img" />
            </figure>
  
            <div class="prod_price-box">  
              <p class="prod_price">{{ oferta.valor | currency:'BRL':true }}</p>
              <div class="add_bag account-login"></div>
            </div>
  
            <button class="btn_ofer" [routerLink]="['/oferta', oferta.id]">Ver oferta</button>

          </div>
      </div>

      <!-- <hr /> -->
    </div>
  </div>
</div>