<div class="container mt-5 mb-5">
  <form [formGroup]="cadastro" (ngSubmit)="cadastrarProduto()">

    <h3 class="mb-3">Loja</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nome da Loja" formControlName="loja">
    </div>

    <h3 class="mt-4 mb-3">Produto</h3>

    <div class="form-group row w-100">
      <label for="tamanho" class="col-form-label col-sm-3 w-100">Nome do produto:</label>
      <input type="text" class="form-control col-sm-9 w-100" placeholder="Nome do produto" formControlName="nome">
    </div>

    <div class="form-group row w-100">
      <label for="tamanho" class="col-form-label col-sm-3 w-100">Descrição do produto:</label>
      <input type="text" class="form-control col-sm-9 w-100" placeholder="Descrição do produto"
        formControlName="descricao">
    </div>

    <div class="form-group row w-100">
      <label for="tamanho" class="col-form-label col-sm-3 w-100">Valor do produto:</label>
      <input type="text" class="form-control col-sm-9 w-100" placeholder="R$0,00" formControlName="valor">
    </div>

    <!-- <div class="form-group row w-100" [formArrayName]="categoria" *ngFor="let item of QuantCateg; let i=index">
      <span class="row w-100" *ngIf="i == 0">
        <label for="tamanho" class="col-form-label col-sm-3 w-100">Categoria do produto:</label>
        <input type="text" class="form-control col-sm-8 w-100" placeholder="Categoria do produto"
          formControlName="1">
        <div class="col-sm-1 ">
          <button class="btn_adicionar btn btn-primary col-sm-12 d-flex justify-content-center" (click)="addCampo()"> +
          </button>
        </div>
      </span>
      <input type="text" class="input_categoria w-100 mt-1 form-control col-sm-8 w-100"
        placeholder="Categoria do produto" formControlName="i">
    </div> -->

    <div class="form-group row w-100">
      <label for="tamanho" class="col-form-label col-sm-3 w-100">Categoria do produto:</label>
      <!-- <input type="text" class="form-control col-sm-9 w-100" data-role="tagsinput"placeholder="Categoria do produto" formControlName="1"> -->
      <tag-input class="input_tag col-sm-9 w-100" placeholder="categorias" secondaryPlaceholder="categorias"
        [(ngModel)]='categorias' formControlName="categoria"></tag-input>
    </div>

    <!--tamanho-->
    <span class="border border-light">
      <div class="mb-2">Quantidade de cada tamanho:</div>
      <div class="form-group row w-100">
        <label for="tamanhoPP" class="col-form-label col-sm-3 d-flex justify-content-end">PP </label>
        <input type="text" id="tamanhoPP" class="form-control col-sm-2" placeholder="estoque"
          formControlName="tamanhoPP">
      </div>
      <div class="form-group row w-100">
        <label for="tamanhoP" class="col-form-label col-sm-3 d-flex justify-content-end">P </label>
        <input type="text" id="tamanhoP" class="form-control col-sm-2" placeholder="estoque" formControlName="tamanhoP">
      </div>
      <div class="form-group row w-100">
        <label for="tamanhoM" class="col-form-label col-sm-3 d-flex justify-content-end">M </label>
        <input type="text" id="tamanhoM" class="form-control col-sm-2" placeholder="estoque" formControlName="tamanhoM">
      </div>
      <div class="form-group row w-100">
        <label for="tamanhoG" class="col-form-label col-sm-3 d-flex justify-content-end">G </label>
        <input type="text" id="tamanhoG" class="form-control col-sm-2" placeholder="estoque" formControlName="tamanhoG">
      </div>
      <div class="form-group row w-100">
        <label for="tamanhoGG" class="col-form-label col-sm-3 d-flex justify-content-end">GG </label>
        <input type="text" id="tamanhoGG" class="form-control col-sm-2" placeholder="estoque"
          formControlName="tamanhoGG">
      </div>
    </span>

    <!--ESTOQUE-->
    <!-- <div class="form-group row w-100">
      <label for="estoque" class="col-form-label col-sm-3">Estoque: </label>
      <input type="text" class="form-control col-sm-9" id="estoque" placeholder="Estoque do produto"
        formControlName="estoque">
    </div> -->

    <div class="form-group row w-100">
      <label for="observacoes" class="col-form-label col-sm-3">Observações: </label>
      <input type="text" id="observacoes" class="form-control col-sm-9" placeholder="Observações "
        formControlName="observacoes">
    </div>

    <div class="form-group row w-100">
      <label for="imagens" class="col-form-label col-sm-3">Inserir imagens: </label>
      <input id="imagens" type="file" class="form-control col-sm-9" accept="image/*" (change)="uploadFile($event)"
        multiple />
    </div>

    <div class="d-flex justify-content-around">
      <button type="submit" class="btn btn-primary mt-4 ">Cadastrar</button>
    </div>
  </form>
</div>