<div class="container mt-5 mb-5">
  <form [formGroup]="cadastro" (ngSubmit)="cadastrarProduto()">

    <h3 class="mb-3">Loja</h3>

    <!-- <div class="form-group">
      <input type="email" class="form-control" placeholder="E-mail">
    </div> -->

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nome da Loja" formControlName="loja">
    </div>

    <!-- <div class="form-group">
      <input type="test" class="form-control" placeholder="CNPJ">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Endereco" >
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Numero do local">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Complemento" >
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Telefone" >
    </div> -->

    <h3 class="mt-4 mb-3">Produto</h3>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nome do produto" formControlName="nome">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Descrição do produto" formControlName="descricao">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Valor do produto" formControlName="valor">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Categoria do produto" formControlName="categoria">
    </div>

    <!--tamanho-->
    <div class="form-group row w-100">
      <label for="tamanho" class="col-form-label col-sm-3 w-100">Tamanho do produto:</label>
      <select id="tamanho" class="form-control col-sm-9 w-100" formControlName="tamanho">
        <option value="PP">PP</option>
        <option value="P">P</option>
        <option value="M" selected>M</option>
        <option value="G">G</option>
        <option value="GG">GG</option>
        <option value="XG">XG</option>
      </select>
    </div>

    <!--ESTOQUE-->
    <div class="form-group row w-100">
      <label for="estoque" class="col-form-label col-sm-3">Estoque: </label>
      <input type="text" class="form-control col-sm-9" id="estoque" placeholder="Estoque do produto"
        formControlName="estoque">
    </div>

    <div class="form-group row w-100">
      <label for="observacoes" class="col-form-label col-sm-3">Observações: </label>
      <input type="text" id="observacoes" class="form-control col-sm-9" placeholder="Observações "
        formControlName="observacoes">
    </div>

    <div class="form-group row w-100">
      <label for="imagens" class="col-form-label col-sm-3">Inserir imagens: </label>
      <input id="imagens" type="file" class="form-control col-sm-9" accept="image/*"
      (change)="uploadFile($event)" multiple />
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>