<div class="row" *ngIf="carrinho.itens.length > 0; else carVazio">
  <div class="tend_item col-md-3" *ngFor="let item of carrinho.itens;let i = index">

    <a class="tend_link">
      <div class="box-image d-flex justify-content-center">
        <img class="image" [src]="item.imagem" alt="{{item.img}}" />
      </div>
      <div class="container d-block justify-content-start mt-4">
        <div class="nome_produto">{{item.nome | uppercase |  descricaoReduzida:22}}</div>
        <div class="nome_loja">{{item.anunciante | uppercase | descricaoReduzida:22}}</div>
        <div class="preco d-flex">
          <div> {{item.valor | currency: 'BRL': 'symbol'}}</div>
          <div class="pp">{{ item.tamanho }}</div>
        </div>
        <span class="d-flex">
          <button (click)="diminuir(item, i)" type="button" class="btn_decre">-</button>
          {{item.quantidade}}
          <button (click)="adicionar(item, i)" type="button" class="btn_incre">+</button>
        </span>
      </div>
    </a>

  </div>
</div>

<ng-template #carVazio>
  <h5>CARRINHO VAZIO</h5>
</ng-template>