<div class="container div">
  <p class="texto preto mobile-texto"> Gobag, Inc.</p>
  <h3 class="titulo preto mobile-titulo mb-4">Termos E Condições De Uso Da Plataforma “Gobag”</h3>
  <h5 class="titulo preto mobile-titulo mb-4">ASPECTOS GERAIS</h5>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">1.INFORMAÇÃO</h6>
  <p class="texto preto mobile-texto">
    GOBAG INTERMEDIACAO DE NEGOCIOS LTDA CNPJ: 34.262.627/0001-32, com constituída na cidade de Fortaleza/CE, para os
    efeitos destes termos será definida como A OPERADORA.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">2.NATUREZA JURÍDICA</h6>
  <p class="texto preto mobile-texto">
    Estes termos e condições de uso regulam a relação contratual, de caráter comercial, que une os Consumidores que têm
    acesso à plataforma virtual e a OPERADORA da mesma, especialmente na autorização de uso que outorga esta última a
    favor do Consumidor.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">3.DEFINIÇÕES</h6>
  <p class="texto preto mobile-texto">
    Cookies: Arquivos enviados pelo servidor do site para o computador do USUÁRIO, com a finalidade de identificar o
    computador e obter dados de acesso, como páginas navegadas ou links clicados, permitindo, desta forma, personalizar
    a utilização do site, de acordo com o seu perfil. Também podem ser utilizados para garantir uma maior segurança dos
    USUÁRIOS da PLATAFORMA.
  </p>
  <p class="texto preto mobile-texto">
    Comércio Eletrônico: Abrange o envio, a transmissão, a recepção, o armazenamento de mensagens de dados pela via
    eletrônica.
  </p>
  <p class="texto preto mobile-texto">
    Consumidores (usuários): são as pessoas físicas cadastradas na Plataforma de Internet denominada GOBAG que acessem a
    esta para solicitar um mandato remunerado, cujo encargo consiste na celebração de um contrato de compra ou qualquer
    outro tipo de contrato lícito, com o fim de adquirir bens ou serviços.
  </p>
  <p class="texto preto mobile-texto">
    Contrato de mandato celebrado por meios eletrônicos: É aquele acordo de vontades celebrado entre o Mandatário e os
    Consumidores, onde o Consumidor solicita, através da Plataforma, a gestão de um encargo ao Mandatário, obrigando-se
    este último a cumprir com dito encargo por conta e risco do Consumidor, a mudança de receber uma remuneração como
    contraprestação.
  </p>
  <p class="texto preto mobile-texto">
    Dados pessoais: É toda informação que permite identificar ou fazer identificável uma pessoa física.
  </p>
  <p class="texto preto mobile-texto">
    Mandatário: Pessoa física que aceita realizar a gestão do encargo solicitado pelo Consumidor através da Plataforma.
  </p>
  <p class="texto preto mobile-texto">
    Interação na Plataforma: Faculdade de acesso dos Consumidores para conhecer os produtos e serviços exibidos pelos
    parceiros da OPERADORA, a publicidade colocada à disposição na Plataforma e manifestar sua vontade de solicitar um
    encargo.
  </p>
  <p class="texto preto mobile-texto">
    Maior de idade: Pessoa física maior de dezoito (18) anos.
  </p>
  <p class="texto preto mobile-texto">
    Mensagens de dados: A informação gerada, enviada, recebida, armazenada ou comunicada por meios eletrônicos, ópticos
    ou similares, como poderiam ser, entre outros, o Intercâmbio Eletrônico de Dados (EDI), Internet, o correio
    eletrônico, o telegrama, o telex e o telefax.
  </p>
  <p class="texto preto mobile-texto">
    Operadora da plataforma: Encarregada de administrar operativamente e funcionalmente a Plataforma, representada para
    os efeitos destes termos pela GOBAG BRASIL, ou pela pessoa física ou jurídica que ela designar.
  </p>
  <p class="texto preto mobile-texto">
    Meios de pagamentos: Serviço que permite a realização de pagamentos pelos Consumidores diretamente aos Mandatários
    de Serviços, através de meios eletrônicos, utilizando plataformas tecnológicas (software), como por exemplo as
    máquinas de cartão.
  </p>
  <p class="texto preto mobile-texto">
    PLATAFORMA GOBAG: aplicativo web e móvel administrado e com os direitos exclusivos de utilização no Brasil pela
    GOBAG, através do qual: i) são exibidos diferentes produtos de consumo de forma publicitária, ii) facilita a
    aproximação entre os Consumidores e os Mandatários, iii) serve como meio de envio de comunicações entre o Consumidor
    e a GOBAG e iv) pode receber os pagamentos das compras diretamente do consumidor (por conta e ordem de terceiros),
    com repasse do dinheiro ao Mandatário. A GOBAG não realiza a compra de produtos por conta própria, não armazena
    produtos e tampouco é vendedora de produtos, sendo uma plataforma de tecnologia somente para intermediação, que
    permite a interação entre Consumidores e Mandatários. Também denominada neste Instrumento como “PLATAFORMA”, podendo
    ser acessada por computadores, notebooks, smartphones ou tablet’s.
  </p>
  <p class="texto preto mobile-texto">
    Publicidade: É toda forma de comunicação realizada pela OPERADORA, com a finalidade de prestar informações sobre
    produtos, atividades comerciais e comunicar estratégias ou campanhas publicitárias ou de marketing, próprias ou de
    terceiros; realizada como mecanismo de referência e não como oferta pública.
  </p>
  <p class="texto preto mobile-texto">
    Produto: Bem de consumo exibido através da Plataforma.
  </p>
  <p class="texto preto mobile-texto">
    Serviço: Serviços oferecidos através da plataforma.
  </p>
  <p class="texto preto mobile-texto">
    Janelas emergentes (Pop-Ups): Janela ou aviso da internet que emerge automaticamente em qualquer momento quando a
    Plataforma é utilizada, especialmente utilizado para a formalização do contrato de compra e venda entre Consumidores
    e Fornecedores.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">4. OBJETO</h6>
  <p class="texto preto mobile-texto">
    Estes termos e condições regulam a autorização de uso que outorga a Operadora aos Consumidores, para que eles
    ingressem à plataforma virtual e se informem sobre os produtos de consumo e serviços exibidos, para que sejam
    utilizados como referência e possam solicitar a gestão de um encargo, por médio de um contrato de mandato com o
    Mandatário.
  </p>
  <p class="texto preto mobile-texto">
    A Operadora através da Plataforma realiza as seguintes ações: i) exibe diferentes produtos e serviços de consumo de
    forma publicitária para que possam servir de referência aos Consumidores, ii) facilita o encontro entre Consumidores
    e Mandatários para a realização do vínculo contratual, iii) permite o uso da plataforma de pagamentos, sem que este
    processo signifique algum vínculo com a Operadora, posto que, pela tecnologia implementada, o pagamento é realizado
    diretamente aos Mandatários iv) serve como meio de envio de comunicações entre os Consumidores e os Mandatários.
  </p>
  <p class="texto preto mobile-texto">
    A realização da relação contratual entre Consumidores e Mandatários acontece com os Consumidores que se encontrarem
    no território nacional ou que estando no exterior solicitarem a gestão de um encargo, que deve ser realizado no
    Brasil, pagando uma contraprestação econômica mediante o sistema de pagamento eletrônico pela plataforma eletrônica
    ou em dinheiro no momento da recepção dos produtos escolhidos pelo Consumidor.
  </p>
  <p class="texto preto mobile-texto">
    Através da Plataforma são exibidos produtos, cuja gestão de compra é encarregada pelos Consumidores aos Mandatários,
    sendo que os primeiros procuram satisfazer uma necessidade privada, pessoal ou familiar e em nenhum momento para sua
    comercialização, revenda ou qualquer outro tipo de transação comercial.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">5.ALTERAÇÃO</h6>
  <p class="texto preto mobile-texto">
    A Operadora poderá modificar autonomamente e em qualquer momento os aspetos formais, procedimentais ou substanciais
    destes Termos e Condições de uso da Plataforma, que serão atualizados e colocados à disposição dos Consumidores na
    Plataforma, sendo a última versão publicada aquela que regulará as relações comerciais que sejam geradas no momento
    em que a transação for realizada. Assim também, conta com plena autonomia para modificar os usos da Plataforma
    permitidos aos Consumidores, com o único dever de informá-lo por um meio virtual que permita sua publicação e
    comunicação ao público.
  </p>
  <h5 class="titulo preto mobile-titulo mb-4">DETALHES DO SERVIÇO</h5>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">6.CONSUMIDOR</h6>
  <p class="texto preto mobile-texto">
    Toda pessoa física que como destinatário final usar a plataforma para solicitar um mandato remunerado, cujo encargo
    consiste na celebração de um contrato de compra ou qualquer outro tipo de contrato lícito, com o fim de adquirir
    bens ou serviços.
  </p>
  <p class="texto preto mobile-texto">
    O uso da Plataforma é realizado pelo Consumidor como pessoa capaz, manifestando que para a celebração de contratos
    de mandato com os Mandatários, ele conta com plena capacidade legal para ser sujeito de direitos e obrigações,
    qualidades que são aprovadas no momento de criação de seu registro.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">7.MANDATÁRIOS</h6>
  <p class="texto preto mobile-texto">
    Pessoa física que aceita realizar a gestão do encargo solicitado pelo Consumidor através da Plataforma.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">8.CONTA DE USUÁRIO</h6>
  <p class="texto preto mobile-texto">
    O uso das conta é pessoal e intransferível, por isto os Consumidores não estão autorizados a ceder os dados de
    validação para acessar a Plataforma. No caso de esquecer os dados de validação ou usurpação deles, é obrigação ao
    Consumidor informar sobre a ocorrência à Operadora através da opção “esqueceu sua senha” ou através de uma
    comunicação pelo serviço do suporte disponível na APP. As contas de usuários serão administradas pela Operadora ou
    pela pessoa que ela designar, tendo plena faculdade para a conservação ou não da conta, quando as informações
    fornecidas pelos Consumidores não sejam verazes, completas ou seguras; ou quando acontecer descumprimento das
    obrigações dos Consumidores.
  </p>
  <p class="texto preto mobile-texto">
    Os dados dos cartões de débito e crédito somente serão solicitados no momento de realizar o pagamento virtual e, se
    assim for definido pelo Consumidor, esses dados não serão armazenados pela Operadora, serão inscritos diretamente na
    máquina de débito/crédito e serão utilizados diretamente pelo Consumidor nesta, onde serão informadas as condições
    de segurança e privacidade em que é efetuado o mesmo.
  </p>
  <p class="texto preto mobile-texto">
    Com a criação da Conta de Usuário, os Consumidores estão manifestando sua vontade de aceitação expressa e inequívoca
    destes Termos e Condições de uso da Plataforma.
  </p>
  <p class="texto preto mobile-texto">
    Parágrafo. O Consumidor autoriza expressamente, no momento da aceitação destes Termos, o uso de Cookies pela
    Operadora em toda atividade de uso que for realizada na Plataforma.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">9.CAPACIDADE</h6>
  <p class="texto preto mobile-texto">
    Fica claro para o Consumidor que a relação contratual que pode chegar a ser gerada pelo uso da Plataforma será
    diretamente com os Mandatários e será efetuada por meio de um contrato de mandato realizado por meios eletrônicos,
    no qual o Consumidor é o mandante.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">10.DESCRIÇÃO DO SERVIÇO</h6>
  <p class="texto preto mobile-texto">
    A Operadora exibe através da Plataforma os produtos e serviços que estão à disposição dos Consumidores para serem
    adquiridos, usando a Plataforma como meio para solicitar um mandato remunerado, cujo encargo consiste na celebração
    de um contrato de compra.
  </p>
  <p class="texto preto mobile-texto">
    10.1. A operadora pode cobrar do usuário uma taxa de serviço pelo uso de sua plataforma e continuar fornecendo um
    serviço de qualidade. Este valor só será cobrado caso o usuário o aceite.
  </p>
  <p class="texto preto mobile-texto">
    10.2. O aperfeiçoamento do contrato de mandato realizado por meios eletrônicos acontece no momento em que o
    Mandatário aceitar realizar a gestão do encargo solicitado pelo Consumidor através da Plataforma; esta aceitação
    corresponde ao momento em que o Consumidor seleciona o meio de pagamento. Verificados os passos do processo de
    compra, o Mandatário, por meio da Operadora, pode aceitar total ou parcialmente o encargo solicitado pelo
    Consumidor, informando no resumo quais são os produtos incluídos no contrato.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">11.DEVERES DO CONSUMIDOR</h6>
  <p class="texto preto mobile-texto">
    Com a aceitação destes termos o Consumidor está obrigado a: (1) fornecer informações verazes e fidedignas no momento
    de criar sua Conta de Usuário; (2) não transferir a terceiros os dados de validação (nome de usuário e senha); (3)
    não utilizar a Plataforma para realizar atos contrários à moral, a lei, a ordem pública e os bons costumes contra o
    Operador, Mandatários ou de terceiros; (4) pagar oportunamente ao Mandatário a quantia equivalente da
    contraprestação econômica definida no processo de compra; (5) informar imediatamente à Operadora em caso de
    esquecimento ou usurpação dos dados de validação; (6) não realizar condutas que atentarem contra do funcionamento da
    Plataforma; (7) não suplantar a identidade de outros Consumidores; (8) não decifrar, desestruturar ou desmontar
    qualquer elemento da Plataforma ou de qualquer uma das suas partes; (9) habilitar a utilização de janelas emergentes
    durante a operação para o funcionamento adequado na Plataforma; (10) em geral adotar todas aquelas condutas
    necessárias para a execução do negócio jurídico, tais como: i) a recepção dos produtos solicitados, ii) exibir a
    identificação em caso de compra de produtos de uso restrito ou de outros produtos, iii) verificar no momento da
    validação que os produtos selecionados correspondem aos requeridos, iv) informar-se sobre as instruções de uso e
    consumo dos produtos.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">12.DEVERES DA OPERADORA</h6>
  <p class="texto preto mobile-texto">
    Em razão destes termos, a Operadora obriga-se a: (1) fornecer informações certas, fidedignas, suficientes, claras e
    atualizadas com respeito aos produtos exibidos, podendo realizar a substituição deles no caso de falta; (2) indicar
    as características gerais do produto para que sirvam de referência aos Consumidores, para o efeito são marca e
    apresentação; (3) informar suficientemente sobre os meios habilitados para que os Consumidores realizem o pagamento;
    (4) informar no momento indicado os dados dos Mandatários com os quais os Consumidores realizarão o contrato de
    mandato; (5) enviar ao correio eletrônico fornecido pelo Consumidor constância da transação; (6) colocar à
    disposição dos Consumidores os termos e condições de uso na Plataforma de forma atualizada; (7) utilizar as
    informações unicamente para os fins estabelecidos nestes termos; (8) utilizar mecanismos de informações e validação
    durante a transação como as janelas emergentes (Pop Ups) que permitam ao Consumidor aceitar ou não cada passo do
    processo de compra. (9) A Gobag reserva-se o direito de aumentar, até 10% (dez por cento), os preços dos produtos
    exibidos nas lojas físicas de seus parceiros. O usuário reconhece e aceita a condição acima e também não fará nenhum
    tipo de reivindicação contra a Gobag pelos preços que são refletidos nas notas fiscais de venda. Os valores
    adicionais serão cobrados pela Gobag pelo uso da plataforma virtual e, se você precisar de uma nota fiscal para esse
    conceito, deverá solicitá-la através do serviço de suporte disponível da APP.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">13.DESCRIÇÃO DOS PRODUTOS E SERVIÇOS</h6>
  <p class="texto preto mobile-texto">
    Fica claro para o Consumidor que a Operadora não é produtora, fornecedora, entregadora, agente, distribuidora e, em
    geral, nenhum tipo de comercializador dos produtos exibidos, posto que opera somente como uma plataforma tecnológica
    que permite o encontro entre Consumidores e Fornecedores para a configuração de relações de consumo.
  </p>
  <p class="texto preto mobile-texto">
    O Consumidor reconhece e aceita receber amostras de empresas filiadas e parceiras da Gobag.
  </p>
  <p class="texto preto mobile-texto">
    Quando por erros de ordem tecnológica os preços dos produtos exibidos na Plataforma resultam errôneos e
    evidentemente desproporcionados com o preço do produto no mercado, a Operadora poderá cancelar as ordens feitas de
    produtos com ditos preços, a sua livre discrição e com total autonomia.
  </p>
  <p class="texto preto mobile-texto">
    A Operadora reserva o direito de atualizar, modificar e/ou descontinuar os produtos exibidos na Plataforma a
    qualquer momento, sem necessitar de qualquer aviso prévio.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">14.GARANTIA</h6>
  <p class="texto preto mobile-texto">
    O Consumidor entende e aceita que a relação de consumo é gerada diretamente com os Mandatários, por isto, as
    reclamações pela garantia devem ser realizadas diretamente aos Mandatários, que têm a obrigação de cumprir com as
    reclamações nos termos definidos aqui.
  </p>
  <h5 class="titulo preto mobile-titulo mb-4">CONSIDERAÇÕES FINAIS</h5>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">15.CONTEÚDOS</h6>
  <p class="texto preto mobile-texto">
    Através da Plataforma, a Operadora poderá colocar à disposição dos Consumidores as informações de caráter comercial
    e publicitário, próprias ou de terceiros, em conformidade com os bons costumes comerciais. Nestes casos, a Operadora
    não apoia, garante ou compromete sua responsabilidade perante os serviços e/ou produtos que sejam comercializados
    por terceiros, posto que a Plataforma serve como canal de comunicação e publicidade, mas não como ferramenta de
    prestação de serviços; em consequência, é total responsabilidade dos Consumidores acessar os sites que remetem à
    publicidade, assumindo a obrigação de verificar e conhecer os termos dos serviços oferecidos pelos terceiros.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">16.FUNCIONAMENTO DA PLATAFORMA</h6>
  <p class="texto preto mobile-texto">
    A Operadora administra a Plataforma diretamente ou por meio de terceiras pessoas, todas as informações ali
    comunicadas estão certas e atualizadas. Em nenhum caso responderá por danos diretos ou indiretos sofridos pelo
    Consumidor pela utilização ou incapacidade de utilização da Plataforma.
  </p>
  <p class="texto preto mobile-texto">
    A plataforma encontra-se disponível durante as 24 horas do dia para acesso e consulta. Para a realização de
    transações, a disponibilidade da Plataforma é de 24 horas ao dia, dependendo da disponibilidade dos Mandatários. A
    Operadora realiza os melhores esforços para manter a Plataforma em operação, mas em nenhum caso garante a
    disponibilidade e continuidade permanente da Plataforma.
  </p>
  <p class="texto preto mobile-texto">
    A Operadora reserva para si o direito de cancelar as contas de usuários e/ou de proibir o acesso à Plataforma dos
    Consumidores que realizarem condutas que violem estes termos ou que descumprirem as obrigações contraídas.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">17.CANCELAMENTO E SUSPENSÃO DE CONTA</h6>
  <p class="texto preto mobile-texto">
    A OPERADORA se reserva no direito de cancelar, suspender, desativar, bloquear ou, encerrar unilateralmente o acesso
    do Consumidor aos Serviços, com rescisão unilateral do presente contrato, com ou sem aviso prévio, caso: (i) seja
    identificada qualquer violação as normas jurídicas (ii) suas ações violem às disposições destes Termos & Condições;
    (iii) se o Usuário causar algum dano direto ou indireto à OPERADORA, seus Usuários ou a terceiros; (iv) seja
    identificada, de forma direta ou indireta, a prática de atitudes fraudulentas através do uso da Plataforma Gobag;
    (v) seja averiguada a inadimplência do Usuário, que se dá quando este último deixar de efetuar o pagamento de
    qualquer parcela devida em favor da OPERADORA ou Mandatários nos termos firmados entre as partes; (vi) em outros
    casos onde a OPERADORA entenda necessário, por violação de normas jurídicas, incompatibilidade com a política da
    Plataforma, entre outras, a critério da OPERADORA.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">18.DAS CAMPANHAS PROMOCIONAIS</h6>
  <p class="texto preto mobile-texto">
    A GOBAG poderá realizar campanhas promocionais que garantem ao Consumidores desconto no valor da compra, por meio de
    códigos promocionais ou outros meios. O regulamento de tais campanhas é definido única e exclusivamente pela GOBAG,
    podendo ser alterado ou encerrado a qualquer momento.
  </p>
  <p class="texto preto mobile-texto">
    Sobre essas campanhas, fica a critério da GOBAG definir, entre outras coisas: (1) Consumidores que estão elegíveis a
    participar, (2) ofertas que estão elegíveis a receber descontos adicionais, (3) regras específicas para ativação de
    descontos, como valor mínimo da compra e quantidade de cupons, (4) valor do desconto, (5) quantidade disponível de
    códigos promocionais.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">19.DO USO DAS INFORMAÇÕES</h6>
  <p class="texto preto mobile-texto">
    As informações levantadas pela Operadora nas transações realizadas são fornecidas pelos Consumidores de forma livre
    e voluntária, para que sejam administradas pela Operadora ou por quem ela designar para o cumprimento dos deveres
    adquiridos, significando seu levantamento; armazenamento em servidores ou repositórios da Operadora ou de terceiros;
    circulação dos mesmos dentro da organização da Operadora; comunicação aos Consumidores da informação comercial,
    publicitária e de marketing relacionada com sua atividade comercial.
  </p>
  <p class="texto preto mobile-texto">
    Assim também, os dados levantados serão objeto de análise para fins de melhoramento da estratégia de negócios da
    página web, apoiada por ferramentas de inteligência de negócios e mineração de dados, que permitem adquirir
    conhecimentos prospectivos para fins de predição, classificação e segmentação.
  </p>
  <p class="texto preto mobile-texto">
    O Consumidor poderá exercer seu direito de conhecer, atualizar, modificar e suprimir os dados pessoais existentes
    nas bases de dados associadas à Plataforma. Para isto deverá realizar a solicitação de consulta, reclamação ou
    supressão ao endereço eletrônico gobagbrasil@gmail.com , com os detalhes das alterações a serem realizadas e
    entregando os documentos que a sustentam.
  </p>
  <p class="texto preto mobile-texto">
    A Operadora é responsável do tratamento das informações pessoais levantadas através da página web, responsabilidade
    que poderá ser delegada a um terceiro, na qualidade de responsável ou encarregado das informações, garantindo por
    meio de contrato um adequado tratamentos das mesmas, tudo explicitado na Política de Privacidade.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">20.DA LEGISLAÇÃO APLICÁVEL E FORO</h6>
  <p class="texto preto mobile-texto">
    Para dirimir quaisquer controvérsias oriundas do presente Instrumento, as partes elegem o Foro Central da comarca da
    cidade de Fortaleza – CE (renunciando a qualquer outro por mais privilegiado que seja), sendo aplicáveis as Leis da
    República Federativa do Brasil.
  </p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">21.LIMITAÇÃO DE RESPONSABILIDADES:</h6>
  <div class="texto preto mobile-texto">
    Todos os materiais e serviços disponibilizados na PLATAFORMA são fornecidos “como estão” e “como disponível” sem
    garantia de qualquer tipo, expressa ou implícita, incluindo, mas não limitado a, garantias implícitas de adequação a
    um propósito específico ou as dadas diretamente pelos FORNECEDORES. A Operadora não pode garantir que:
  </div>
  <div class="texto preto mobile-texto">
    (a) os serviços satisfaçam completamente às necessidades do Consumidor;
  </div>
  <div class="texto preto mobile-texto">
    (b) os serviços sejam ininterruptos, oportunos, seguros ou isentos de erros. A Operadora realiza os melhores
    esforços para manter a PLATAFORMA em operação, mas em nenhum caso garante a disponibilidade e continuidade
    permanente da PLATAFORMA;
  </div>
  <p class="texto preto mobile-texto">
    (c) os resultados esperados pelo Consumidores que possam ser obtidos, atenderá às suas expectativas ou estará livre
    de erros, ou defeitos.
  </p>
  <p class="texto preto mobile-texto">
  O uso dos serviços ou do download por meio da PLATAFORMA é feito ao próprio critério e risco do Consumidor e com o
  seu acordo de que será o único responsável por quaisquer danos ao seu sistema de computador ou perda de dados
  resultantes de tais atividades. O Consumidor também entende e concorda que a Operadora não tem controle sobre redes
  de terceiros que possam ser acessadas durante o uso da PLATAFORMA, portanto, atrasos e interrupções de outras
  transmissões de rede estão completamente fora do controle da Operadora. Também não se pode imputar a Operadora por
  quaisquer caso de atos fortuitos ou de força maior, que venham a causar danos a quaisquer das Partes. Em nenhum
  caso, a Operadora será responsável perante o USUÁRIO ou terceiros por quaisquer danos, incluindo, sem limitação,
  aqueles resultantes de perda de dados, serviços de terceiros oferecidos por meio da PLATAFORMA ou no caso de
  quaisquer atos dos Mandatários. Em nenhum momento a Operadora solicitará ao USUÁRIO informações que NÃO forem
  necessárias para seu vínculo com o Mandatário ou para a facilitação do pagamento.
</p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">22.INFORMAÇÕES SOBRE A PROPRIEDADE INDUSTRIAL E DIREITOS AUTORAIS:</h6>
  <p class="texto preto mobile-texto">
  Ao aceitar estes Termos de Uso, o Consumidor reconhece e concorda que todo o conteúdo apresentado na PLATAFORMA está
  protegido por direitos autorais, marcas, patentes ou outros direitos e leis de propriedade industrial e é
  propriedade exclusiva da Operadora. O Consumidor só pode usar o conteúdo conforme expressamente autorizado pela
  Operadora, ou seja, para o seu uso pessoal sem que isso signifique a entrega de qualquer licença da PLATAFORMA. O
  Consumidor não pode copiar, reproduzir, modificar, republicar, carregar, publicar, transmitir ou distribuir
  quaisquer documentos ou informações da PLATAFORMA de qualquer forma ou por qualquer meio, sem a permissão prévia por
  escrito da Operadora. O uso não autorizado dos materiais que aparecem na PLATAFORMA pode violar direitos autorais,
  marcas registradas e outras leis aplicáveis e pode resultar em penalidades criminais ou civis. O Consumidor não
  deverá enviar à Operadora informações confidenciais, a menos que as Partes tenham concordado mutuamente por escrito.
  Eventuais ideias ou propostas não solicitadas enviadas pelo Consumidor à Operadora não reserva nenhum direito ao
  Consumidor.
</p>
  <h6 class="subtitulo lead cinza mt-4 mobile-subtitulo">23.ACEITAÇÃO TOTAL DOS TERMOS</h6>
  <p class="texto preto mobile-texto">
  O Consumidor manifesta expressamente ter a capacidade legal para usar a Plataforma e para celebrar as transações
  comerciais que possam ser geradas com os Mandatários. Assim, manifesta ter fornecido informação real, veraz e
  fidedigna. Portanto, de forma expressa e inequívoca declara ter lido, que entende e que aceita a totalidade das
  situações reguladas nestes Termos e Condições de Uso da Plataforma, dando o seu CONSENTIMENTO, pelo que se
  compromete ao cumprimento total dos deveres, obrigações, ações e omissões aqui expressadas. Em caso de USUÁRIOS de
  outros países utilizarem a Plataforma, ficam completamente sujeitos ao disposto nestes termos. Declara ainda que
  teve a possibilidade de sanar quaisquer dúvidas em relação a este TERMO E CONDIÇÕES pelo canal de Suporte ao
  Usuário. Com esta aceitação entende-se que na solicitação do cada encargo se encontra a assinatura do Consumidor
  para outorgar o poder ao Mandatário e desta maneira poder gerir dito encargo.
</p>
</div>