<div class="conteudo row d-flex justify-content-center t">

  <form class="col-sm-9"  (submit)="salvar()" [formGroup]="formulario">
    <h3 class="mb-5">Configurações da conta</h3>

    <div class="form-group row w-100">
      <label for="customFile">
        <div class="form-group foto_user file_customizada d-flex" id="foto_user">
            <img class="preview_img" src="" alt="" id="imgtag">
            <span class="align-self-center text_image text-center">Selecionar</span>
          <input  formControlName="foto" id="customFile" type="file" class="custom-file-input" accept="image/*" (change)="uploadFile($event)" />
        </div>
      </label>
    </div>
    <div class="form-group">
        <label for="inputAddress">Nome</label>
        <input  formControlName="nome"  type="text" class="form-control"  placeholder="nome">
      </div>
    <div class="form-row">
        <div class="form-group col-md-9">
            <label for="inputAddress col-md-9">endereco</label>
            <input  formControlName="endereco"  type="text" class="form-control"  placeholder="Endereço">
          </div>
          <div class="form-group col-md-3">
              <label for="inputAddress">numero</label>
              <input  formControlName="numero"  type="text" class="form-control"  placeholder="numero">
          </div>
    </div>
  
    <button  (click)="salvar()" class="btn btn-primary">Salvar</button>
  </form>

</div>