<div id="carouselCat" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
      <li data-target="#carouselCat" data-slide-to="0" class="active"></li>
      <li data-target="#carouselCat" data-slide-to="1"></li>
      <li data-target="#carouselCat" data-slide-to="2"></li>
      <li data-target="#carouselCat" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLinkActive="active" routerLink="/categoria01">
          <img class="image" src="/assets/banners/banner1.png" alt="banner1-30%off">
        </a>
      </div>
      <div class="carousel-item">
        <a routerLinkActive="active" routerLink="/categoria02">
          <img class="image" src="/assets/banners/banner2.png" alt="banner2-carnaval">
        </a>
      </div>
      <div class="carousel-item">
        <a routerLinkActive="active" routerLink="/categoria03">
          <img class="image" src="/assets/banners/banner3.png" alt="banner3-primaveira">
        </a>
      </div>
      
  </div>

  <a class="carousel-control-prev" href="#carouselSite" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselSite" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Avançar</span>
  </a>
</div>