<section class="lojas mb-2">
    <div class="container justify-content-center">

        <span class="subtitulo preto upper d-flex mb-2">Compre em sua loja favorita</span>
        <div class="carousel">
            <owl-carousel [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding']">

                <div class="item lojas_item" *ngFor="let image of mySlideImages;let i = index">
                    <a routerLinkActive="active" routerLink="/{{image.link}}" class="lojas_link">
                        <img class="slide-image img-fluid" src={{image.image}} alt="{{image.alt}}" />
                    </a>
                </div>
            </owl-carousel>
        </div>
    </div>
</section>