.lojas {
    margin-top: 50px;
    
}

 .lojas_item {
    border-radius: 10px;
    height: 160px;
    display: flex;
    align-items: center;
} 

 .lojas_item:hover {
    border-color: #000;
} 

.lojas_link {
    padding: 10px; 
    display: block;
    border-radius: 8px;
}

.lojas_link img{
    border-radius: 8px;
}

