h1 {
    color: #555
}

.oferta {
    margin-top: 25px
}

.oferta_title {
    text-align: center;
}

.oferta_img-box {
    max-width: 100%;
}

.thumbnails {
    margin-top: 10px;
    cursor: pointer;
}

