h1 {
    color: #555
}

/* coluna 1 (lado da imagem) */

.oferta {
    margin-top: 25px
}

.oferta_img-box {
    max-width: 100%;
}

.thumbnails {
    margin-top: 10px;
    cursor: pointer;
}

/* coluna 2 (informações do produto) */

.tit_prod {
    font-family: 'Lato', sans-serif;
    color: #212529;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: bold;
}

.desc_prod {
    text-align: center;
    text-transform: initial;
}
.descricao{
    font-weight: 600;
}

.price_box {margin-bottom: 20px;}

.price_box p{
    color: #212529;
    margin-bottom: 0;
    font-size: 18px;
}

.price_prod {
    font-family: 'Lato', sans-serif;
    color: #212529;
    font-weight: bold;
    font-size: 30px;
}

.medidas_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.medida {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    color: #ccc;
    font-size: 20px;
    cursor: pointer;
    transition: all ease .3s;
    margin-right: 5px;
    border-radius: 50%;
    background-color: #ffffff;
}

.medida:hover,
.medida:focus,
.medida:active{
    border-color: #212529;
    color: #212529;
}

.btn_pedido {
    width: 230px;
    padding: 5px;
    color: #fff;
    background: #000;
    border: 1px solid #000;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 25px;

    /* transition: all .4s ease .4s; */
}

.btn_pedido:hover{
    background: #fff;
    color: #212529;
}

/* .tamanho_disponivel{
    background-color:#3232a8;
} */
.tamanho_indisponivel{
    background-color:#c0c0c0;
}
.selecionado{
    border:5px solid black;
}
.seta{
    height: 30px;
    margin-top: 50%;
}
.seta2{
    height: 35px;
    margin-top: 50%;
}
.logo{
    height: 100px;
}
.imagemSelecionada{
    width: 90%;
    border-radius: 14px;
}
.prod_oferta_thumb{
    height: 20%;
}
.item{
    font-size: 0.8em;
    padding: 15% 0 0 0;
    color: #000;
}
.icon{
    width: 12%;
}
