
.conteudo{
    height:800px;
    margin-top:150px;
}
.topo{
    margin-bottom: 15px;
}

.topo p span:nth-child(1){
    color:#ccccd0;
    font-size: 35px;
}
.topo p span:nth-child(3){
  font-size: 22px;
}


form{
    margin-top:50px;
}

.inputs input{
   border:none;
   border-bottom: 4px solid #cfcbcb;
   border-radius:0px;
}
 .inputs[_ngcontent-c4] input[_ngcontent-c4]{
     background-color:white;
 }

.btn_salvar{
font-weight: 700;
color:#252424;
padding: 10px;
/* padding-left: 250px;
padding-right: 250px; */
border: none;
background-color:#bdbdbdbb;
font-size: 1.6em;
margin-top: 8px;
margin-bottom: 5px
}

.hover:hover{
 color: rgb(86, 86, 233);
 cursor:pointer;
}

.below :nth-child(4){
    font-size: 13px;
    font-weight: 500;
}
