<div class="container div texto">
  <p class="texto preto"> Gobag, Inc.</p>
  <h3 class="titulo preto mobile-titulo">Política de Devolução </h3>

  <p class="subtitulo lead cinza mt-4 mobile-subtitulo">Como faço para solicitar uma devolução?</p>
  
  <p class="texto preto mobile-texto">
    Você pode solicitar a devolução em até 48 (quarenta e oito) horas corridos após o recebimento do seu pedido para o
    valor não ser
    debitado do seu cartão de credito (só será efetuada se todas as regras de devolução forem atendidas) ou você pode
    solicitar a
    devolução em até 30 (trinta) dias corridos após o recebimento do seu pedido, mas fique atento às seguintes regras:
  </p>
  <ul class="texto preto mobile-texto">
    <li>Você deve enviar todos os itens da solicitação de devolução;</li>
    <li>O produto deve ser devolvido em sua embalagem original;</li>
    <li>O produto não pode conter indícios de uso;</li>
    <li>O produto deve conter todas as etiquetas intactas;</li>
    <li>O produto deve ser enviado juntamente com a nota fiscal, manuais e acessórios.</li>
  </ul>
  <p class="texto preto mobile-texto">
    Se as regras não forem cumpridas, os itens da solicitação de devolução não serão coletados pelo transportador ou
    serão devolvidos
    para você.
  </p>
  <p class="texto preto mobile-texto">
    Solicitar a devolução do seu produto é muito simples! Acesse “Entrar”, clique em “Devoluções” e, após ter escolhido
    o item que
    deseja devolver, clique em “Devolver” e siga os passos. A solicitação de devolução será realizada em menos de 1
    minuto.
    Você receberá um e-mail com todas as instruções.
  </p>
  <p class="texto preto mobile-texto">
    Para devolver o produto, basta utilizar o guia que receberá por e-mail. Lembre-se:
  </p>
  <ul class="texto preto mobile-texto">
    <li>
      O produto deve ser devolvido sem uso, em sua embalagem original, embrulhado em papel pardo e acompanhado das
      etiquetas,
      manuais e, acessórios e nota fiscal que foram entregues com ele.
    </li>
  </ul>

  <p class="texto preto mobile-texto">
    Uma vez recebido o produto pela loja responsável, será realizada uma análise de qualidade que pode levar até 2 dias
    úteis.
  </p>
  <p class="texto preto mobile-texto">
    A restituição dos valores do seu produto será realizada de acordo com a forma de pagamento de seu pedido ou por meio
    de um
    vale-trocas, e só será efetuada se todas as regras de devolução forem atendidas.
  </p>

  <p class="subtitulo cinza ">Importante!</p>
  <p class="texto preto mobile-texto">
    Não serão aceitas devoluções de produtos com evidências de mau uso.
  </p>
  <p class="texto preto mobile-texto">
    A solicitação de devolução de produtos recebidos com embalagem avariada ou produto danificado deve ser realizada em
    até
    48h a contar do recebimento.
  </p>

  <p class="subtitulo cinza mt-4 lead mobile-subtitulo">Quais são as opções de reembolso para uma devolução?</p>
  <p class="texto preto mobile-texto">
    Ao solicitar uma devolução, você pode escolher entre receber o valor pago de volta, de acordo com a forma de
    pagamento do pedido,
    ou um vale-troca. Em caso de compra via boleto bancário, o valor pago pelo produto será depositado em conta em até 5
    dias úteis.
  </p>
  <p class="subtitulo cinza">Importante!</p>
  <p class="texto preto mobile-texto">
    Se a devolução dos produtos forem feitas em 48 (quarenta e oito) horas o valor não será debitado do seu cartão de
    credito.
  </p>
  <p class="texto preto mobile-texto">
    Para que possamos fazer o depósito, os dados bancários devem ser do titular do cadastro em nosso site.
  </p>
  <p class="texto preto mobile-texto">
    A solicitação de troca ou devolução de produtos somente será realizada caso o pagamento não tenha sido contestado
    junto à
    administradora do cartão de crédito.
  </p>
  <p class="texto preto mobile-texto">
    Sugerimos que confira os números de agência e conta com dígito (se houver) no seu cartão. Se você possuir conta
    conjunta,
    os dados informados devem ser do primeiro titular do cartão, caso contrário, ocorrerá atraso na restituição em razão
    de dados
    incorretos. Para compras realizadas com cartão de crédito, o estorno é solicitado junto à administradora do cartão e
    pode levar
    de uma a duas faturas para que seja efetuado. Caso opte por um vale, o mesmo será liberado após o retorno do item
    devolvido e
    análise de qualidade. Você pode utilizá-lo em qualquer produto no site. Se o valor do produto escolhido for inferior
    ao do vale,
    poderá solicitar o restante do dinheiro ou utilizar o valor remanescente do vale. Se o valor do produto escolhido
    for superior
    ao do vale, deverá realizar o pagamento da diferença escolhendo uma das formas de pagamento no site.
  </p>
  <p class="subtitulo cinza lead mt-4 mobile-subtitulo">Como faço para utilizar um vale-troca?</p>
  <p class="texto preto mobile-texto">
    Se como forma de reembolso para sua devolução escolheu receber um vale, poderá utilizá-lo para realizar sua próxima
    compra.
    Basta inserir o código que você recebeu por e-mail no campo “Cupons e vales” e clicar em “Aplicar”. O valor será
    subtraído
    automaticamente do total da sua compra. O prazo para você usar o vale-troca é de até 180 dias.
  </p>
</div>