<!-- <app-banner-slide></app-banner-slide>
<app-lojas></app-lojas> -->

<div class="bannerLoja">  
    <img class="img-fluid banner" src="assets/banners/lojas/banner-fundo.jpg" /> 
</div>

<div class="container text-center">

  <div class="secao">
          <img class="img-fluid logo-loja mb-2" src="assets/logos-lojas/loja-teste.png" /><br>
          <span class="text-center subtitulo cinza">Frete: R$ 10,00</span><br>           
          <span class="text-center subtitulo preto upper">mais informações</span>
       
  </div>

</div>

<div class="prat_prod">
  <div class="container">
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 20px;">

      <div class="col-md-3 my-2" *ngFor="let produto of produtos | async">
        <div class="prod">  


          <a [routerLink]="['/oferta', produto.id_produto]">
            <figure class="prod_img-box">
            <img [src]="produto.imagens[0]" class="img-fluid prod_img" />
            <img [src]="produto.imagens[1]" class="img-fluid prod_img second_img" />
            </figure>
          </a>
          
          <div class="text-center">
            <span class="texto preto upper">{{ produto.nome }}</span>
          <br>

            <span class="texto preto">Loja Teste</span>
            <!-- <span class="texto preto">{{ produto.loja.charAt(0).toUpperCase() + produto.loja.slice(1).toLowerCase() }}</span> -->
          <br>

          
            <span class="subtitulo cinza align-text-bottom">{{ produto.valor | currency:'BRL':true }}</span>
          </div>

          <button class="btn_ofer upper" [routerLink]="['/oferta', produto.id_produto]">EXPERIMENTE</button>

        </div>
      </div>

<!-- estamos cadastrando as melhores lojas
video do lojista
link do cadastro -->
    </div>
  </div>
</div>

<!-- <div class="prat_prod">
  <div class="container">
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 20px;">

      <div class="col-md-3" *ngFor="let produto of produtos | async">
        <div class="prod">
          <div class="prod_title-box">
            <h4 class="prod_title">{{ produto.nome }}</h4>
          </div>

          <figure class="prod_img-box">
            <img [src]="produto.imagens[0]" class="img-fluid prod_img" />
            <img [src]="produto.imagens[1]" class="img-fluid prod_img second_img" />
          </figure>

          <div class="prod_price-box">
            <p class="prod_price">{{ produto.valor | currency:'BRL':true }}</p>
          </div>

          <button class="btn_ofer" [routerLink]="['/oferta', produto.id_produto]">Ver oferta</button>

        </div>
      </div>


    </div>
  </div>
</div> -->