.tendencia {
  margin-top: 40px;
}

.tend_link {
  display: block;
  border-radius: 8px;
}

.tend_link img {
  border-radius: 8px;
}
.fonte{
  text-transform: uppercase;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size:1.5em;
}
