<app-banner-slide></app-banner-slide>
<app-tendencias></app-tendencias>

<div class="container"> 
  
  <div class="secao">
    <h3 class="text-center">MODA MASCULINA</h3>
    <h5 class="text-center">Conheça as melhores ofertas para roupas masculinas:</h5>
  </div>

</div>

<!-- <hr /> -->
<div class="prat_prod">
    <div class="container">
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 20px;">
  
        <div class="col-md-3" *ngFor="let produto of produtos | async">
            <div class="prod">
              <div class="prod_title-box">
                <h4 class="prod_title">{{ produto.nome }}</h4>
              </div>
    
              <figure class="prod_img-box">
                <img [src]="produto.imagens[0]" class="img-fluid prod_img" />
                <img [src]="produto.imagens[1]" class="img-fluid prod_img second_img" />
              </figure>
    
              <div class="prod_price-box">  
                <p class="prod_price">{{ produto.valor | currency : 'BRL' : 'symbol' }}</p>
              </div>
    
              <button class="btn_ofer" [routerLink]="['/oferta', produto.id_produto]">Ver oferta</button>
  
            </div>
        </div>
  
        <!-- <hr /> -->
      </div>
    </div>
  </div>