<div class="div_container row">
  <h3 class="rev_pedido">Devolução de produtos</h3>
  <div class="itensCarrinho col-sm-11  tendencia">
    <app-carousel-ordem-devolucao   ></app-carousel-ordem-devolucao>
  </div>

  <div class="bottom row col-sm-12 text-center">
    <div class="col-12 col-sm-12 col-md-4 voltar"> <button class="btn_cancelar">CANCELAR</button></div>
    <div class="col-12 col-sm-12 col-md-4 total ">
      <p>
        <span>TOTAL</span>
        <span> {{ carrinhoService.totalCarrinhoCompras() | currency: 'BRL': 'symbol' }}</span><br>
        <span class="envio">ENVIO</span>
        <span> {{ 0 | currency: 'BRL': 'symbol' }}</span>
      </p>
    </div>
    <div class="col-12 col-sm-12 col-md-4 continuar">
      <button 
          class="btn_confirmar"
          (click)="confirmarDevolucao()"
          >
        CONFIRMAR
      </button>
    </div>

  </div>





</div>


<!-- Carousel Banner -->


<!-- <section class="banner_home">
  <div class="fonte" data-toggle="modal" data-target="#modalBanner">
      <owl-carousel [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">

          <div class="banner_home-box">

              <img class="banner_home-gobag align-middle img-fluid " src="assets/banners/home/banner_home_gobag.png"
                  alt="" />

          </div>

          <div class="banner_home-box">

              <img class="banner_home-instrucoes align-middle img-fluid " src="assets/banners/home/banner_home_instrucoes.png"
                  alt="" />

          </div>

          

          <div class="banner_home-box">
              <img class="banner_home-entenda align-middle img-fluid "
                  src="assets/banners/home/banner_home_entenda.png" alt="" />

          </div>
      </owl-carousel>
  </div>
</section>



<div class="modal fade" id="modalBanner" tabindex="-1" role="dialog">

  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content justify-content-center">

          <div class="modal-header">
              <span class="titulo preto">Como funciona a GoBag?</span>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          </div>

          <div class="modal-body d-flex">
              <div class="embed-responsive embed-responsive-16by9">
                  <iframe src="https://www.youtube.com/embed/xCd8w9CoQr8" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
              </div>
          </div>

          <div class="modal-footer">
              <span class="texto preto">Gobag, Inc. | E-mail: atendimento@gobagbrasil.com.br | Fone: 4020.9500</span>
          </div>
      </div>
  </div>
</div> -->