<div class="container-fluid row" *ngIf="carrinho; else loading">
  <owl-carousel (click)="onClick()" (mouseenter)="mouseenter()" (mousemove)="mousemove()" class="col-12" *ngIf="!reordenar; else carousel2"
    [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" #carousel1>
    <div class="item tend_item" *ngFor="let item of carrinho.itens;let i = index" [width]="500">
      <a routerLinkActive="active" class="tend_link" [ngStyle]="{'width': '800px'}">
        <div class="conteudo" (window:ondrag)="onClick()">
          <img class="slide-image img-fluid" [src]="item.imagem" alt="{{item.img}}" />
          <div class="item">
            <div class="descricao">
              <span class="nome_produto">{{item.nome | uppercase |  descricaoReduzida:10}}</span><br>
              <span class="nome_loja">{{item.anunciante}}</span><br>
              <span class="preco"><span> {{item.valor | currency: 'BRL': 'symbol'}}</span> <span class="pp">PP</span>
              </span><br>

              <span class="info_quant">
                <span class="quant_pecas">Quant. </span><br>
                <button (click)="diminuir(item)" type="button" class="btn_decre">-</button>
                {{item.quantidade}}
                <button (click)="adicionar(item)" type="button" class="btn_incre">+</button>
              </span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </owl-carousel>

  <!-- duplicação do carousel para atualizar a visualização da lista de produtos -->
  <ng-template #carousel2>
    <owl-carousel (click)="onClick()" (mouseenter)="mouseenter()" (mousemove)="mousemove()" class="col-12" *ngIf="reordenar; else carousel2"
      [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']" #carousel1>
      <div class="item tend_item" *ngFor="let item of carrinho.itens;let i = index" [width]="500">
        <a routerLinkActive="active" class="tend_link" [ngStyle]="{'width': '800px'}">
          <div class="conteudo" (window:ondrag)="onClick()">
            <img class="slide-image img-fluid" [src]="item.imagem" alt="{{item.imagem}}" />
            <div class="item">
              <div class="descricao">
                <span class="nome_produto">{{item.nome | uppercase |  descricaoReduzida:10}}</span><br>
                <span class="nome_loja">{{item.anunciante}}</span><br>
                <span class="preco"><span> {{item.valor | currency: 'BRL': 'symbol'}}</span> <span class="pp">PP</span>
                </span><br>

                <span class="info_quant">
                  <span class="quant_pecas">Quant. </span><br>
                  <button (click)="diminuir(item)" type="button" class="btn_decre">-</button>
                  {{item.quantidade}}
                  <button (click)="adicionar(item)" type="button" class="btn_incre">+</button>
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </owl-carousel>
  </ng-template>
</div>

<ng-template #loading>Carrinho Vazio</ng-template>