<div class="conteudo col-7 container">
  <form class="row" [formGroup]="formulario" (ngSubmit)="autenticar()">
    <div class="col-12 topo">
      <p>
        <span>OLÁ!</span> <br>
        <span>Digite seu e-mail e senha para acessar sua conta GOBAG:</span>
      </p>
    </div>
    <div class="col-12 inputs">
      <div class="form-group">
        <input class="email" type="email" class="form-control" placeholder="E-mail" formControlName="email">
        <small *ngIf="formulario.get('email').valid && formulario.get('email').touched" class="form-text text-success"></small>
        <small *ngIf="!formulario.get('email').valid && formulario.get('email').touched" class="form-text text-danger">Email inválido!</small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Senha" formControlName="senha">
        <small *ngIf="formulario.get('senha').valid && formulario.get('senha').touched" class="form-text text-success"></small>
        <small *ngIf="!formulario.get('senha').valid && formulario.get('senha').touched" class="form-text text-danger">Senha inválido!</small>
      </div>
    </div>
    <div class="col-12 ">
      <button type="submit" class="btn btn-primary btn_salvar col-12">ENVIAR</button>
      <p class="col-12" class="small text-danger text-center">{{mensagemErro}}</p>
    </div>
    <div class="col-12 below text-center">
      <span >NÃO POSSUI CONTA?</span> <span class="hover" (click)="exibirPainelCadastro()"> CADASTRE-SE AGORA</span><br>
      <span class="hover" (click)="exibirForgetSenha()">ESQUECEU A SENHA</span>
    </div>

  </form>


</div>