<div class="container">
  <ul class="nav">
    <li>
      <!-- 30% OFF -->
      <a routerLinkActive="active" routerLink="/restaurantes">
        <img class="image" src="/assets/banners/banner1.png" alt="banner1-30%off">
      </a>
    </li>
    <li>
      <!-- Carnaval -->
      <a routerLinkActive="active" routerLink="/diversao">
        <img class="image" src="/assets/banners/banner2.png" alt="banner2-carnaval">
      </a>
    </li>
    <li>
      <!-- Primaveira -->
      <a routerLinkActive="active" routerLink="/infantil">
        <img class="image" src="/assets/banners/banner3.png" alt="banner3-primaveira">
      </a>
    </li>
  </ul>
</div>