/* Este arquivo é para estilização geral do projeto
e tem prioridade sobre o arquivo de css
dentro de cada componente, 
exemplo: Se nesse arquivo for
colocado: header{background: #ccc;} 
e no arquivo css de um componente for colocado a mesma chamada
mas com um estilo diferente: header {background: #fff;} a desse arquivo
é a que será exibida */

/* importando fonte */
@import url(//db.onlinewebfonts.com/c/62c0135163427c652ae397f327f85010?family=Museo+Sans);
  
  @font-face {
    font-family: "Museo Sans";
    src: url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot");
    src: url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/62c0135163427c652ae397f327f85010.svg#Museo Sans") format("svg");
  } 

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Estilo default */ 
html
{
    overflow-x:hidden;
}

a:hover{
    color: #555!important;
    /* background-color: #ccc!important; */
}

h5 {
    color:#999;
}

h4 {
    color:#555;
}

h3 {
    color: #555;
}

.branco{
    color: #fff;
}

.cinza{
    color:#808080;
}

.preto{
    color: #000;
}

.caps{
    text-transform: capitalize;
}

.upper{
    text-transform: uppercase;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
  
}

.subtitulo{
    font-family: "Museo Sans";
    font-style: normal;
    font-weight: bold;
    
    
}

.texto{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    
    
}





.card img {
    height: 200px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Inicio Estilo do carrossel dos banners da página inicial */

/* FIm do estilo do carrossel dos banners da página inicial */


/* Início Estilo do carrossel das tendências */

/* .owl-theme .owl-nav {
    margin: 0!important;
    height: 0;
} */

.tendencia .owl-carousel .owl-nav button.owl-prev,
.banner_home .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    margin: 0!important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    /* opacity: .8;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);

    background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;

    -webkit-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)";
    -o-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x!important; */
}

.tendencia .owl-carousel .owl-nav button.owl-next,
.banner_home .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8%;
    margin: 0!important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    /* opacity: .8;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);

    background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;

    -webkit-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)";
    -o-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x!important; */
}

.tendencia .owl-carousel .owl-nav button.owl-prev:hover,
.tendencia .owl-carousel .owl-nav button.owl-next:hover,
.tendencia .owl-theme .owl-nav [class*=owl-]:hover
{
    background: rgba(0, 0, 0, 0);
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.banner_home .owl-carousel .owl-nav button.owl-prev:hover,
.banner_home .owl-carousel .owl-nav button.owl-next:hover,
.banner_home .owl-theme .owl-nav [class*=owl-]:hover{
    background: rgba(0, 0, 0, 0);
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.tendencia .owl-carousel .owl-nav button.owl-prev.disabled,
.tendencia .owl-carousel .owl-nav button.owl-next.disabled,
.tendencia .owl-carousel .owl-nav button.owl-prev.disabled:hover,
.tendencia .owl-carousel .owl-nav button.owl-next.disabled:hover,

.banner_home .owl-carousel .owl-nav button.owl-prev.disabled,
.banner_home .owl-carousel .owl-nav button.owl-next.disabled,
.banner_home .owl-carousel .owl-nav button.owl-prev.disabled:hover,
.banner_home .owl-carousel .owl-nav button.owl-next.disabled:hover {opacity: .5;}

.tendencia .owl-carousel .owl-nav button.owl-prev:focus,
.tendencia .owl-carousel .owl-nav button.owl-next:focus{outline: none;}

.banner_home .owl-carousel .owl-nav button.owl-prev:focus,
.banner_home .owl-carousel .owl-nav button.owl-next:focus{outline: none;}

.tendencia .nav-btn.prev-slide,
.tendencia .nav-btn.next-slide,

.banner_home .nav-btn.prev-slide,
.banner_home .nav-btn.next-slide{font-size: 0;}

.banner_home .nav-btn.prev-slide,
.banner_home .nav-btn.next-slide {
    height: 100%;
    width: 20px;
    position: absolute;
    top: 0;
    font-size: 0;
}

 /* .banner_home .nav-btn.prev-slide {
    background: url('./assets/left-w.png') center center no-repeat;
    left: 0;
}

.banner_home .nav-btn.next-slide {
    background: url('./assets/right-w.png') center center no-repeat;
    right: 0;
}  */



/* .owl-theme .owl-dots {display: block;} */

/* fim do Estilo do carrossel das tendências */

/*---------------------------------------------*/

/* Inicio do estilo do carrossel das lojas */

.lojas .nav-btn.prev-slide,
.lojas .nav-btn.next-slide {
    height: 100%;
    width: 20px;
    position: absolute;
    top: 0;
    font-size: 0;
}

/* .lojas .nav-btn.prev-slide {
    background: url('./assets/left.png') center center no-repeat;
    left: 0;   
}

.lojas .nav-btn.next-slide {
    background: url('./assets/right.png') center center no-repeat;
    right: 0;
} */

.lojas .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8%;
    margin: 0!important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    /* opacity: .8;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);

    background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, .01) 100%)!important;

    -webkit-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)";
    -o-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x!important;  */
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 8%;
    margin: 0!important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    /* opacity: .8;
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);

    background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;
    background-image:-o-linear-gradient(left, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;
    background-image:linear-gradient(to right, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .8) 100%)!important;

    -webkit-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)";
    -o-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x!important; */
}

.lojas .owl-carousel .owl-nav button.owl-prev.disabled,
.lojas .owl-carousel .owl-nav button.owl-next.disabled,
.lojas .owl-carousel .owl-nav button.owl-prev.disabled:hover,
.lojas .owl-carousel .owl-nav button.owl-next.disabled:hover {opacity: .2;}

.lojas .owl-carousel .owl-nav button.owl-prev:focus,
.lojas .owl-carousel .owl-nav button.owl-next:focus {outline: none;}


.lojas .owl-carousel .owl-nav button.owl-prev:hover,
.lojas .owl-carousel .owl-nav button.owl-next:hover,
.lojas .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    outline: 0;
    opacity: .9;
}

/* .lojas .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
} */

/* Area de estilo para dispositivos mobile */
/* @media (max-width: 768px) {

.lojas .owl-theme .owl-dots {display: block; margin-top:20px;}

.lojas .owl-carousel button.owl-dot:focus {
    outline:none;
}

.lojas .owl-theme .owl-dots .owl-dot span {
    border: 1px solid #ccc;
    background: #fff;
 }

.lojas .owl-theme .owl-dots .owl-dot.active span,
.lojas .owl-theme .owl-dots .owl-dot:hover span {
    border: 2px solid #ccc;
    background: #fff;
 }
    
} */


/* fim do carrossel lojas */

