<app-banner-slide></app-banner-slide>
<app-tendencias></app-tendencias>
<app-lojas></app-lojas>
<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <!-- <hr /> -->

  <div class="row" style="margin-bottom: 50px">

      <div class="col-md-3 col-6" *ngFor="let produto of produtos | async">
          <div class="prod">
            <div class="prod_title-box">
              <h4 class="prod_title">{{ produto.titulo }}</h4>
            </div>
  
            <figure class="prod_img-box">
              <img [src]="produto.imagens[0]" class="img-fluid prod_img" />
              <img [src]="produto.imagens[1]" class="img-fluid prod_img second_img" />
            </figure>
  
            <div class="prod_price-box">  
              <p class="prod_price">{{ produto.valor | currency:'BRL':true }}</p>
            </div>
  
            <button class="btn_ofer" [routerLink]="['/oferta', produto.id]">Ver oferta</button>

          </div>
        </div>





    <!-- modelo de card antigo -->

    <!-- <div class="col-sm-3 card_box" *ngFor="let oferta of ofertas">
      <div class="card">        
        <img class="card-img-top" [src]="oferta.imagens[0].url">
        <div class="card-block">
          <h4 class="card-title">{{ oferta.titulo }}</h4>
          <p class="card-text">{{ oferta.descricao_oferta }}</p>
          <p class="preco">{{ oferta.valor | currency:'BRL':true }}</p>
          <a [routerLink]="['/oferta', oferta.id]" class="btn btn-outline-primary">Ver oferta</a>
        </div>
      </div>
    </div> -->

  </div>
  <!-- <hr /> -->
  
</div>
