
nav{
    /* font-family: museo-sans, sans-serif;
    font-style: normal;
    font-weight: 100; */
}

.navbar-toggler{
    float:left;
    border:none;
}

.pesquisar{
   width: 20px;
}

.pesquisar input{
    width: 100%;
    margin-left: 15px;  
    background: url('/assets/lupa.png') no-repeat;
    /* background-position:right 5px bottom 6px; */
    background-position:right 5px bottom 6px;
    background-position-y: 8.5px;
    background-size: 20px 20px;
    border-width: 0.3px;
}
.col_left{
    
}
.col_right div a{
    color:black;
}
.col_right div span:hover{
    
}

.logo{
    width: 80px;    
    margin-left: 30px; 
}

.bag {
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url('/assets/man-user.svg') no-repeat center center;
    background-size: 100% 100%;
    text-decoration: none;
    margin-right: 4px;
    margin-top:6px;
}

.bag .numeroItensCarrinho{
 color:white;
 margin-top:7.5px;
 margin-right: 1px;
 font-size: 0.9em;
 
}

.login {
    width: 27px;
    height: 27px;
    cursor: pointer;
    background: url('../../assets/brasil.png') no-repeat center center;
    background-size:100%;
    background-repeat:no-repeat;
    /* background-color:black; */
    border-radius: 100%;
    margin-left:3px;
    margin-top:6px;
    margin-right: 14px;

}
.endereco  {
    margin-top: 7px;
    cursor: pointer;
    margin-left:7px;
    margin-right: 3px;
    
}
.endereco  a{
    font-size: 0.9em;
}
.dropdown-menu{
    animation-duration: 0.5s;
}

.dropdown-menu li a{
    color:black;
}

.list-group{
    position: absolute;
    z-index: 999;
    top: 0;
    margin-top:40px;
    margin-left:15px;
}

.list-group-item a {
    font-family: "Museo Sans";
    color: black;
    font-size: 0.9rem;
    padding: 12px 20px;
    display: block;
    transition: all ease-in .5;

}


.pesquisa_mobile{
    display: none;
}
.logo_mobile{
    display:none;
}


@media (max-width: 994px) {
    .pesquisa_mobile{
        display:block;
        margin-left: -15px;
    }
    .pesquisa_desktop{
        display:none;
    }
} 

@media (max-width: 634px) {
    .logo_desktop{
        display: none;
    }
    .logo{
        width: 30px ; 
        margin-left: 1px !important;
    }
    .logo_mobile{
        display: block;
        width: 30px !important;    
    }
    .logo_mobile a img{
        background-image: url('../../assets/ico4/android-icon-36x36.png')
    }
    .navbar-toggler{
        margin-left: 1px !important;
    }
    .col_right{
        padding: 0;
    }
    .col_right{
        padding-right: 2%;
    }
} 