<div *ngIf="!naoLogado; else logado">
    <nav class="navbar  fixed-top navbar-light bg-light align-items-start row">
        <!-- coluna da direita com menu de pesquisa, logo e dropdown-->
        <div class="col-7 col-md-7 col_left row">
            <!-- menu dropdown com ascategorias -->
            <div class="dropdown " aria-labelledby="dropdownMenuButton">
                <button class="navbar-toggler ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="dropdown-menu  animated fadeInLeftBig">
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLink="">
                            Novidades
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/feminino">
                            Feminino
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/masculino">
                            Masculino
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/calcados">
                            Calçados
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/fitness">
                            Fitness
                        </a>

                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/fitness">
                            Fitness
                        </a>

                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/teen">
                            Teen
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/infantil">
                            Infantil
                        </a>
                    </li>
                </ul>
            </div>
            <div class="logo ">
                <a class="logo_link" href="/">
                    <img class="img-fluid" src="./assets/logo03.png" />
                </a>
            </div>
            <form class=" col-7 col-sm col-md-7 col-lg-8 pesquisar ">
                <input class="form-control mr-sm-2" placeholder="Buscar qualquer produto" type="text" #termoDaPesquisa
                    (keyup)="pesquisa(termoDaPesquisa.value)" aria-label="Pesquisar">

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let oferta of ofertas | async">
                        <a [routerLink]="['/oferta', oferta.id ]" (click)="limpaPesquisa()">
                            {{ oferta.titulo | descricaoReduzida:15 }}
                        </a>
                    </li>
                </ul>
            </form>
        </div>

=
        <!-- coluna da direita onde fica o endereço do cliente e a bag -->
        <div class="col-5 col-md-5 col_right d-flex justify-content-end">
            <a class="login" routerLink="/acesso"></a>
            <div class="endereco" >
                <a routerLink="/acesso">Faça seu login</a>
            </div>
            <a class="bag" routerLink="/ordem-compra">
                <div class="numeroItensCarrinho">{{numeroItensCarrinho}}</div>
            </a>
        </div>
    </nav>
</div>

<ng-template #logado>
    <app-topo-logado></app-topo-logado>
</ng-template>