<div *ngIf="!naoLogado; else logado">
    <nav class="texto preto navbar fixed-top navbar-light bg-light align-items-start row">
        <!-- coluna da direita com menu de pesquisa, logo e dropdown-->
        <div class="col-4 col-md-5 col-lg-7 col_left row">
            <!-- menu dropdown com ascategorias -->
            <div class="dropdown " aria-labelledby="dropdownMenuButton">
                <button class="navbar-toggler ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <ul class="dropdown-menu animated fadeInLeftBig">
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLink="">
                            Novidades
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/feminino">
                            Feminino
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/masculino">
                            Masculino
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/calcados">
                            Calçados
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/fitness">
                            Fitness
                        </a>

                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/teen">
                            Teen
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                            aria-expanded="false" routerLinkActive="active" routerLink="/infantil">
                            Infantil
                        </a>
                    </li>
                </ul>
            </div>
            <div class="logo mt-1 ">
                <a class="logo_link logo_desktop" [routerLink]="['/home']">
                    <img class="img-fluid" src="./assets/logo-gobag-sem-fundo.png" />
                </a>
                <a class="logo_link logo_mobile" [routerLink]="['/home']">
                    <img class="img-fluid" src="../../assets/ico4/android-icon-36x36.png" />
                </a>
            </div>
            <div class="texto col-12 col-sm-12  col-lg-8 pesquisar pesquisa_desktop ">
                <input class="form-control mr-sm-2" placeholder="Buscar qualquer produto" type="text" #termoDaPesquisa
                    (keyup)="pesquisa(termoDaPesquisa.value)" aria-label="Pesquisar">
                <div *ngIf="termoDaPesquisa.value">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let produto of produtos | async">
                            <a [routerLink]="['/oferta', produto.id_produto ]" (click)="limpaPesquisa()">
                                {{ produto.nome | descricaoReduzida:15 }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- coluna da direita onde fica o endereço do cliente e a bag -->
        <div class="texto preto col-8 col-md-7 col-lg-5 col_right d-flex justify-content-end">

            <div class="endereco texto preto" >
                <a routerLink="/cadastro-lojista">Cadastre sua Loja</a>
            </div>
            <div class="endereco mr-3 texto preto" >
                <a routerLink="/acesso">Login</a>
            </div>
            <a class="login" routerLink="/acesso"></a>
            <a class="bag texto preto" routerLink="/ordem-compra">
                <div class="numeroItensCarrinho d-flex justify-content-center">{{numeroItensCarrinho}}</div>
            </a>
        </div>
        <!-- input de pesquisa para visualização mobile -->
        <div class="texto col-12 col-sm-12  pesquisar pesquisa_mobile">
            <input class="form-control mr-sm-2" placeholder="Buscar qualquer produto" type="text" #termoDaPesquisa
                (keyup)="pesquisa(termoDaPesquisa.value)" aria-label="Pesquisar">
            <div *ngIf="termoDaPesquisa.value">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let produto of produtos | async">
                        <a [routerLink]="['/oferta', produto.id_produto ]" (click)="limpaPesquisa()">
                            {{ produto.nome | descricaoReduzida:15 }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>
</div>

<ng-template #logado>
    <app-topo-logado></app-topo-logado>
</ng-template>